<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/home.html}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">

		<style>
</style>
		<div class="container-fluid">
			<div class="card mb-4">
				<div class="card-header">
					<h3 class=" font-weight-bold text-primary">Order Detail</h3>
				</div>
				<div class="card-body">
					 <div class="row">
              <div class="col-md-12">
                <a href="/order/admin/all" class="btn btn-primary mb-3"><i class="bi bi-arrow-left-circle-fill"></i> Quay
                  lại</a>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn Giá</th>
                        <th>Giá hiện tại</th>
                        <th>Tổng tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Áo sơ mi</td>
                        <td>2</td>
                        <td>300000</td>
                        <td>250000</td>
                        <td>300,000đ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h5 class="font-weight-bold text-primary mb-3">Thông tin đơn hàng</h5>
                <ul class="list-group">
                  <li class="list-group-item"><strong>Mã đơn hàng:</strong> 001</li>
                  <li class="list-group-item"><strong>Ngày đặt:</strong> 15/08/2023</li>
                  <li class="list-group-item"><strong>Số lượng:</strong> 3</li>
                  <li class="list-group-item"><strong>Phương thức thanh toán:</strong> Thanh toán khi nhận hàng</li>
                  <li class="list-group-item"><strong>Trạng thái đơn hàng:</strong> Đơn hàng mới</li>
                  <li class="list-group-item"><strong>Tổng:</strong> 300000000</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h5 class="font-weight-bold text-primary mb-3">Thông tin giao hàng</h5>
                <ul class="list-group">
                  <li class="list-group-item"><strong>Họ và tên:</strong> Phạm Minh Trung</li>
                  <li class="list-group-item"><strong>Điện thoại:</strong> 0123456789</li>
                  <li class="list-group-item"><strong>Địa chỉ:</strong> Đà Nẵng</li>
                  <li class="list-group-item"><strong>Ghi chú:</strong> giao hàng nhanh vòa buổi trưa</li>
                </ul>
              </div>
            </div>
				</div>
			</div>
			
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
		<script>
			
		</script>

	</div>

</body>
</html>