@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}
 body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/image/background-shoes.jpg");
    background-position: center;
    background-size: cover;
  }

  .input-field.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-field.horizontal input {
    flex: 1;
    margin-right: 10px;
  }

/* body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(""), #000;
  background-position: center;
  background-size: cover;
} */

.wrapper {
  width: 600px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(9px);
}

form {
  display: flex;
  flex-direction: column;
 
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;

}

.move-right{
  color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
  cursor: pointer;
}

.error-message{
  color: rgb(174, 240, 9);
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 20px;
  text-align: left;
  position: absolute;
  bottom: -20px;
  left: 0;
  transform: translateY(-50%);
  margin-top: 30px;

 
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 17px;
  pointer-events: none;
  transition: 0.15s ease;
  font-weight: bold;
}

small{
  color: red;
  font-size: 0.9em;
  float: left;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  width: auto;
  margin: 0 auto;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}