
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-xxx" crossorigin="anonymous">
</head>
<body>
	<div th:fragment="header" style="height: 90px">
		<header class="container-fluid">

			<div class="header-top" id="hideheader">

				<h6 style="margin-right: 10px">
					<i class="fa fa-phone-square" aria-hidden="true"> </i> Hotline:<b>
						0123456789</b>
				</h6>
				<h5>
					&#124;
					</h2>
					<h6 style="margin-left: 10px; margin-right: 20px">
						<i class="fa fa-envelope" aria-hidden="true"> </i> Email: <b>adelashoes@gmail.com</b>
					</h6>

					<h6 style="margin-left: 530px">
						Hello:
						<h6 class="activity active" th:if="${fullName != null}"
							th:text="${fullName}"
							style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; margin-left: 5px"></h6>
					</h6>
			</div>


			<div class="header-main" id="myHeader">

				<div class="container">

					<a href="#" class="header-logo"> <img
						src="/shopview/assets/img/logo/logo.png" alt="Anon's logo">
					</a>

					<nav class="navbar-expand-lg navbar-light bg-light center"
						style="padding: 0.5rem 1rem; border-radius: 10px; margin-bottom: -30px; margin-top: 20px">

						<div class="container">

							<ul class="desktop-menu-category-list">

								<li class="menu-category"><a href="/product/index"
									class="menu-title">Home</a></li>




								<li class="menu-category"><a href="/product/all-product"
									class="menu-title">Shop</a>
								<li class="menu-category"><a href="/feedback/userfeedback"
									class="menu-title">Contact</a></li>
								<li class="menu-category"><a href="/about/aboutMe"
									class="menu-title">About Us</a></li>
							</ul>

						</div>
					</nav>

					<div class="header-user-actions">
						<div class="header-right">
							<ul class="clearfix">

								<li class="icons dropdown">
									<div class="header-user-actions" data-toggle="dropdown">

										<button class="action-btn" href="/login">
											<ion-icon name="person-outline"></ion-icon>
										</button>

									</div>
									<div
										class="drop-down dropdown-profile animated fadeIn dropdown-menu">
										<div class="dropdown-content-body">
											<ul th:if="${fullName != null}">
												<li><a href="/account/profile"><ion-icon
															name="person"></ion-icon> <span>Profile</span></a></li>
												<li><a href="/order/user/all-order"><ion-icon
															name="mail"></ion-icon> <span>Purchase</span></a></li>

												<form id="logout-form" action="/logout" method="post">
													<li><button type="submit">
															<ion-icon name="log-out"></ion-icon>
															<span>Logout</span>
														</button></li>
												</form>
											</ul>
											<ul th:if="${fullName == null}">
												<li><a href="/login"><ion-icon name="log-out"></ion-icon>
														<span>Login</span></a></li>
												<li><a href="/register"><ion-icon name="log-out"></ion-icon>
														<span>Register</span></a></li>
											</ul>
										</div>
										<div
											class="drop-down dropdown-profile animated fadeIn dropdown-menu">
											<div class="dropdown-content-body">
												<ul th:if="${fullName != null}">
													<li><a href="page-lock.html"><ion-icon
																name="person"></ion-icon> <span>Profile</span></a></li>
													<li><a href="/order/user/all-order"><ion-icon
																name="mail"></ion-icon> <span>Purchase</span></a></li>

													<form id="logout-form" action="/logout" method="post">
														<li><button type="submit">
																<ion-icon name="log-out"></ion-icon>
																<span>Logout</span>
															</button></li>
													</form>
												</ul>
												<ul th:if="${fullName == null}">
													<li><a href="/login"><ion-icon name="log-out"></ion-icon>
															<span>Login</span></a></li>
													<li><a href="/register"><ion-icon name="log-out"></ion-icon>
															<span>Register</span></a></li>
												</ul>
											</div>
										</div>
								</li>

								<button class="action-btn">
									<a href="/cart"><ion-icon name="bag-handle-outline"></ion-icon></a>
								</button>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</header>
	</div>
	<!--header end -->

</body>
</html>