<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adela Shoes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="shopview/assets/img/l.png">

    <!-- all css here -->
   <link rel="stylesheet" href="/shopview/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/shopview/assets/css/plugin.css">
    <link rel="stylesheet" href="/shopview/assets/css/bundle.css">
    <link rel="stylesheet" href="/shopview/assets/css/style.css">
    <link rel="stylesheet" href="/shopview/assets/css/responsive.css">
    <script src="/shopview/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="shortcut icon" href="/shopview/assets/images/logo/favicon.ico" type="image/x-icon">

    <!-- <link rel="stylesheet" href="/shopview/assets/css/style-prefix.css"> -->
	 <link rel="stylesheet" href="/shopview/assets/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" href="/shopview/assets/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" href="/shopview/assets/OwlCarousel2-2.2.1/owl.theme.default.css"> 
    <!-- <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.css" rel="stylesheet"/> -->
<!-- Bao gồm jQuery -->
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Bao gồm Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    
</head>

<body> 
    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
           
  <!--    đây là header  -->
        <div th:replace="shop/fragments/header::header">
       </div>

              <div layout:fragment="content"></div>  
            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->
  <div th:replace="shop/fragments/footer::footer">
       </div>
   

    <!-- modal area start -->
    

    <!-- modal area end -->




    <!-- all js here -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script src="/shopview/assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="/shopview/assets/js/popper.js"></script>
    <script src="/shopview/assets/js/bootstrap.min.js"></script>
    <script src="/shopview/assets/js/ajax-mail.js"></script>
    <script src="/shopview/assets/js/plugins.js"></script>
    <script src="/shopview/assets/js/main.js"></script> 
    <!-- <script src="/shopview/assets/js/index.js"></script> -->
    <!-- <script src="/shopview/assets/js/script.js"></script> -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--
    - ionicon link
  -->
<!--    <script src="/logout/logout.js"></script>  -->
</body>

</html>