<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link type="text/css" rel="stylesheet" th:href="@{/logins/css/login.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div class="wrapper">
	    <form th:id="userLogin" class="user" >
	      <h2>Reset Password</h2>
	      <div class="input-field">
	        <input type="text" id="mailInput" th:id="token" >
	        <label>Enter your code</label>
	      </div>
	      <small th:id="token-error" id="helpId"></small>
	      <div class="forget">
	        <label for="rememberMe">
	        </label>
	        <a href="/login">Login</a>
	      </div>
	      <button type="submit">Confirm</button>
	      <div class="register">
	        <p>Don't have an account? <a href="/register"><u>Register</u></a></p>
	      </div>
	    </form>
  </div>
</body>
</html>