<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link type="text/css" rel="stylesheet" th:href="@{/logins/css/login.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div class="wrapper">
	    <div th:id="userLogin" class="user" >
	      <h2 style="margin-bottom: 50px">Reset Password</h2>
	      <div class="input-field">
	        <input type="email" id="mailInput" th:id="email-input" >
	        <label>Enter your Email</label>
	      </div>
	      <small th:id="email-error" id="helpId"></small>
	      <div class="forget">
	        <label for="rememberMe">
	        </label>
	        <a href="/login">Login</a>
	      </div>
	      <button type="submit" onclick="resetPassword()">Sent Mail</button>
	      <div class="register">
	        <p>Don't have an account? <a href="/register"><u>Register</u></a></p>
	      </div>
	    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
	  document.addEventListener('DOMContentLoaded', function() {
		    var input = document.getElementById("email-input");
		    var error = document.getElementById('email-error');
	
		    input.addEventListener("focus", function() {
		        error.textContent = '';
		    });
		});


	
		function resetPassword() {
			
			var email = document.getElementById('email-input').value.trim();
		
		    $.ajax({
		        url: "/password/sentEmail",
		        type: "POST",
		        contentType: 'application/json',
		        processData: false,
		        data: JSON.stringify(email),
		        dataType: 'json',
		        success: function(data) {
		        	localStorage.removeItem('email');
		        	localStorage.setItem('email', email);
		        	window.location.href = '/password/getTokenReset';
		        },
		        error: function(jqXHR, textStatus, errorMessage) {
		
	             	  if (jqXHR.status === 400) {
		      	      	var errors = jqXHR.responseJSON;
		      	      	$("#email-error").text(errors.message);
		      	        
		      		   }
			     }
		    });
		}
	  </script>
</body>
</html>