<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/fragments/index.html}">
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/shopview/assets/css/about.css">


</head>

<body>

	<div layout:fragment="content">
		<style>
.controller {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: -10%;
}

.contentText p {
	width: 700px;
}

.contentIntro {
	display: flex;
}

.contentIntro img {
	width: 300px;
	height: 200px;
	margin-left: 100px;
}

.introbrand {
	background-color: rgb(244, 231, 231);
	width: 100%;
	height: 270px;
	border-radius: 10px;
}

.contentmain {
	margin-left: 3%;
	padding-top: 20px;
	margin-right: 3%;
	margin-bottom: 20px;
}

.brand_logo {
	padding-top: 40px;
}
</style>
		<div class="breadcrumbs_area">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="/product/index">home</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li>about</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs area end-->
		<!--shopping cart area start -->
		<div class="controller">
			<div class="contentIntro">
				<div class="contentText">
					<h3>Adela</h3>
					<p>
						Adela is a reputable online shoe selling website, specializing in
						providing fashionable, high-quality shoe products at reasonable
						prices. We bring our customers a great shopping experience with a
						variety of options, dedicated customer service and thoughtful
						warranty policy. <br>We named our website Adela which means
						"noble and "elegant" with the desire to bring our customers high
						quality, fashionable and stylish footwear products, helping them
						to Believe in expressing your personality and style.
					</p>
				</div>
				<div>
					<img src="/shopview/assets/img/logo/logo.png">
				</div>

			</div>
			<div class="introbrand">
				<div class="contentmain">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-3">
								<img src="/shopview/assets/img/banner/popup1.jpg">
							</div>
							<div class="col-sm-3">
								<i class="fa fa-check-square" aria-hidden="true"><b>
										About benefits</b> </i> <br>
								<p>Committed to ensuring quality products, reasonable prices
									and many promotional programs. There is a 7-day free return
									policy</p>


							</div>
							<div class="col-sm-3">
								<i class="fa fa-thumbs-up" aria-hidden="true"><b> About
										quality</b> </i>
								<p>All Adela products are made from high-quality, durable
									materials, bringing comfort and smoothness to users. We are
									committed to providing customers with high quality products at
									the most reasonable prices.</p>
							</div>
							<div class="col-sm-3">
								<i class="fa fa-bar-chart" aria-hidden="true"><b> About
										revenue</b> </i>
								<p>In 2022, Adela sold more than 10,000 products, more than
									in 2021. This shows that Adela is increasingly known and
									trusted by people when choosing products.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contentTextpage"
				style="padding-top: 15px; margin-bottom: -3%;">
				<h3>About the goal</h3>
				<p style="width: 1079px; height: 300px">Adela is gradually
					developing more and more, affirming its position in the domestic
					fashion industry and the goal of enhancing the image of Vietnamese
					fashion internationally. That's why we not only focus on product
					quality but also improve the quality of professional staff, Dynamic
					and creative, contributing to bringing many convenient services and
					satisfying shopping experiences to customers.</p>
			</div>

		</div>
		<script>
		var csrfToken = null;
		document.getElementById("logout-form").addEventListener("submit", function(event) {
		    // Gửi yêu cầu AJAX
		    var xhr = new XMLHttpRequest();
		    xhr.open("POST", "/logout", true);
		    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		    
		    if (Cookies.get('XSRF-TOKEN')) {
		        csrfToken = Cookies.get('XSRF-TOKEN');
		        xhr.setRequestHeader("X-XSRF-TOKEN", csrfToken);
		    }
		    
		    xhr.onload = function() {
		        if (xhr.status === 200) {
		            // Chuyển hướng người dùng về trang chủ sau khi đăng xuất thành công
		            window.location.href = "/product/index";
		        } 
		    };
		    
		    xhr.send(new FormData(event.target));
		    event.preventDefault(); // Ngăn chặn sự kiện mặc định của form
		});
		</script>
	</div>
</body>
</html>