<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/fragments/index.html}">
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<div layout:fragment="content">
		
		<div class="breadcrumbs_area">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li>Shopping Cart</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs area end-->

		<!--voucher  -->

		<!--voucher end  -->
		<!--shopping cart area start -->
		<div class="shopping_cart_area">

			<form action="#">
				<div class="row">
					<div class="col-12">

						<div class="table_desc">
							<div class="cart_page table-responsive">
								<table class="table-striped">
									<thead>
										<tr>
											<th><input type="checkbox" id="selectAllCheckbox"
												onchange="selectAllItems(this)"></th>
											<th class="product_thumb">Image</th>
											<th class="product_name">Product</th>
											<th class="product_size">Size</th>
											<th class="product_color">Color</th>
											<th class="product-price">Price</th>
											<th class="product_quantity">Quantity</th>
											<th class="product_total">Total</th>
											<th class="product_remove">Delete</th>
										</tr>
									</thead>
									<tbody id="cartBody">
										<!--  Nội dung table sẽ hiện ở đây  -->
									</tbody>
								</table>
							</div>
							<div class="coupon_area">
								<div class="row">

									<div class="col-lg-12 col-md-12">
										<div class="coupon_inner">

											<div class="cart_subtotal">

												<p class="cart_amount">
													<span id="selectedProducts"></span>
												</p>
											</div>

											<div class="cart_subtotal">
												<div class="text-danger" id="totalCostDisplay"
													style="font-weight: bold; font-size: 1.5em;">Total
													Money:</div>
												<p class="cart_amount">
													<span class="text-danger" id="totalCostAmount">0</span>
												</p>
											</div>

										</div>

									</div>
								</div>
							</div>

							<div class="cart_submit">

								<button onclick="deleteAllCart()">Delete All Cart</button>>
<!-- ... -->
								<a class="checkout_btn" href="javascript:void(0);" onclick="checkoutSelectedItems()">Checkout</a>
<!-- ... -->
							</div>
						</div>
					</div>
				</div>

			</form>
			<div class="row">
				<div class="col-12">
					<div class="wishlist-share">
						<h4>Share on:</h4>
						<ul>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/shopview/assets/js/cart.js"></script>

	</div>
</body>
</html>