<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/fragments/index.html}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="breadcrumbs_area">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li>Shopping Cart</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs area end-->

		<!--shopping cart area start -->
		<div class="shopping_cart_area">
			<form action="#">
				<div class="row">
					<div class="col-12">

						<div class="table_desc">
							<div class="cart_page table-responsive">
								<table class="table-striped">
									<thead>
										<tr>
											<th><input type="checkbox" id="selectAllCheckbox"
												onchange="selectAllItems(this)"></th>
											<th class="product_thumb">Image</th>
											<th class="product_name">Product</th>
											<th class="product_size">Size</th>
											<th class="product_color">Color</th>
											<th class="product-price">Price</th>
											<th class="product_quantity">Quantity</th>
											<th class="product_total">Total</th>
											<th class="product_remove">Delete</th>
										</tr>
									</thead>
									<tbody id="cartBody">
										<!--  Nội dung table sẽ hiện ở đây  -->
									</tbody>
								</table>
							</div>
							<div class="coupon_area">
								<div class="row">

									<div class="col-lg-12 col-md-12">
										<div class="coupon_inner">

											<div class="cart_subtotal">
											
												<p class="cart_amount">
													<span id="selectedProducts"></span>
												</p>
											</div>

											<div class="cart_subtotal">
												<div class="text-danger" id="totalCostDisplay"
													style="font-weight: bold; font-size: 1.5em;">Total Money:</div>
												<p class="cart_amount">
													<span class="text-danger" id="totalCostAmount">0</span>
												</p>
											</div>

										</div>

									</div>
								</div>
							</div> 


							<div class="cart_submit">

								<button onclick="deleteAllCart()">Delete All Cart</button>
								<!-- <button id="selectAllItemsButton" onclick="selectAllItems()">Select
									All</button> -->
									
								<!-- Thêm nút để xóa các mục đã chọn -->
								<button class="checkout_btn" onclick="">Checkout</button>

							</div>
						</div>
					</div>
				</div>

			</form>
			<div class="row">
				<div class="col-12">
					<div class="wishlist-share">
						<h4>Share on:</h4>
						<ul>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
                  $(document).ready(function () {
                	    loadCartData();
                	 
                	});
                  var quantityInput;
                  
                	function loadCartData() {
                	    $.ajax({
                	        url: '/cart/findAll', // Đường dẫn của endpoint Spring Boot
                	        type: 'GET',
                	        success: function (data) {
                	            console.log(data);
                	            var cartBody = $('#cartBody');
                	            cartBody.empty();

                	            $.each(data, function (index, item) {
                	                var imagesHtml = "";
                	                $.each(item.productResponseDto.images, function (imgIndex, image) {
                	                	if (item.productResponseDto.images[imgIndex].isDefault == true) {
                	                    	imagesHtml += `<a href="#"><img src="../upload/${image.inmageForSave}?v=1" alt=""></a>`;
                	                	}
                	                });
                	                quantityInput = item.quantity;
                	                var row = `
                	                    <tr>
                	                        <td class="product_checkbox">
                	                            <input type="checkbox" class="itemCheckbox" data-cart-id="${item.cartId}">
                	                        </td>
                	                        <td class="product_thumb">${imagesHtml}</td>
                	                        <td class="quantity d-none"><a href="#">${item.productResponseDto.quantity}</a></td>
                	                        <td class="product_name"><a href="#">${item.productResponseDto.title}</a></td>
                	                        <td class="product_size"><a href="#">${item.variantResponseDto.size}</a></td>
                	                        <td class="product_color"><a href="#">${item.variantResponseDto.color}</a></td>
                	                        <td class="product-price">${item.variantResponseDto.currentPrice != null ? (item.variantResponseDto.currentPrice).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) : (item.variantResponseDto.price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</td>
                	                        <td class="product_quantity">
                	                            <div class="col-md-2 text-center">
                	                                <div class="input-group">
                	                                    <div class="input-group-prepend">
                	                                        <button class="btn btn-outline-secondary decreaseQty" type="button" data-cart-id="${item.cartId}">-</button>
                	                                    </div>
                	                                    <input type="text" class="form-control text-center quantity-input" value="${item.quantity}"  readonly>
                	                                    <div class="input-group-prepend">
                	                                        <button class="btn btn-outline-secondary increaseQty" type="button" data-cart-id="${item.cartId}">+</button>
                	                                    </div>
                	                                </div>
                	                            </div>
                	                        </td>
                	                        <td class="product_total">${(item.total).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</td>
                	                        <td class="product_remove">
                	                            <a href="#" onclick="deleteCartItem(${item.cartId})"><i class="fa fa-trash-o"></i></a>
                	                        </td>
                	                    </tr>`;
                	                cartBody.append(row);
                	                if (quantityInput === item.variantResponseDto.quantity) {
                	                    $('[data-cart-id="' + item.cartId + '"]').closest('.input-group').find('.increaseQty').prop('disabled', true);
                	                }
                	                 if(item.variantResponseDto.quantity < item.quantity){
                	                	updateQuantity(item.cartId, item.variantResponseDto.quantity);
                	                } 
                	            });

                	            $('.increaseQty').on('click', function() {
                	                var cartId = $(this).data('cart-id');
                	                var quantityInput = $(this).closest('.input-group').find('.quantity-input');
                	                var currentQuantity = parseInt(quantityInput.val());
                	                quantityInput.val(currentQuantity + 1); 
                	                updateQuantity(cartId, currentQuantity + 1);
                	            });

                	            $('.decreaseQty').on('click', function() {
                	                var cartId = $(this).data('cart-id');
                	                var quantityInput = $(this).closest('.input-group').find('.quantity-input');
                	                var currentQuantity = parseInt(quantityInput.val());
                	                if (currentQuantity > 1) {
                	                    quantityInput.val(currentQuantity - 1);
                	                    updateQuantity(cartId, currentQuantity - 1);
                	                }
                	            });

                	            $('.itemCheckbox').on('change', function() {
                	                calculateTotalCost();
                	            });

                	            $('#selectAllCheckbox').on('change', function() {
                	                var selectAllChecked = this.checked;
                	                $('.itemCheckbox').each(function() {
                	                    this.checked = selectAllChecked;
                	                });
                	                calculateTotalCost();
                	            });
                	        },
                	        error: function (error) {
                	            console.error('Error loading data:', error);
                	        }
                	    });
                	}
                  
                  console.log("qt: ", quantityInput);

                	 function calculateTotalCost() {
                	    var checkboxes = document.getElementsByClassName('itemCheckbox');
                	    var totalCostSelected = 0;
                	    var totalCostAll = 0;
                	    var selectedProductsHTML = '';

                	    for (var i = 0; i < checkboxes.length; i++) {
                	        var checkbox = checkboxes[i];
                	        var row = checkbox.closest('tr');
                	        var priceElement = row.querySelector('.product-price');
                	        var priceText = priceElement.innerText.replace(/\D/g, ''); // Loại bỏ tất cả các ký tự không phải là số
                	        var price = Number(priceText);
                	        var quantity = parseInt(row.querySelector('.quantity-input').value);
                	        totalCostAll += price * quantity;

                	        if (checkbox.checked) {
                	            totalCostSelected += price * quantity;
                	            // Tạo HTML để hiển thị thông tin sản phẩm đã chọn
                	           // selectedProductsHTML += '<p>'+'Quantity: ' + quantity + ' - Price: ' + totalCostSelected.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) + '</p>';
                	        }
                	    }

                	    var totalCostSelectedDisplay = document.getElementById('totalCostAmount');
                	    if (totalCostSelectedDisplay) {
                	        totalCostSelectedDisplay.textContent = totalCostSelected.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                	    }

                	    var totalCostAllDisplay = document.getElementById('totalCostAllAmount');
                	    if (totalCostAllDisplay) {
                	        totalCostAllDisplay.textContent = totalCostAll.toFixed(2);
                	    }

                	    var selectedProductsDiv = document.getElementById('selectedProducts');
                	    if (selectedProductsDiv) {
                	        // Cập nhật nội dung HTML của phần tử selectedProducts
                	        selectedProductsDiv.innerHTML = selectedProductsHTML;
                	    }
                	} 


                	 function selectAllItems() {
                	        var checkboxes = document.getElementsByClassName('itemCheckbox');
                	        var selectAllButton = document.getElementById('selectAllItemsButton');
                	        var areAllChecked = true;

                	        // Kiểm tra xem có checkbox nào chưa được chọn không
                	        for (var i = 0; i < checkboxes.length; i++) {
                	            if (!checkboxes[i].checked) {
                	                areAllChecked = false;
                	                break;
                	            }
                	        }

                	        // Nếu có checkbox chưa được chọn, chọn tất cả các checkbox
                	        for (var j = 0; j < checkboxes.length; j++) {
                	            checkboxes[j].checked = !areAllChecked;
                	        }

                	        // Cập nhật trạng thái và văn bản của nút
                	        if (!areAllChecked) {
                	            selectAllButton.textContent = 'Select All';
                	        } else {
                	            selectAllButton.textContent = 'Select All';
                	        }
                	        
                	        //calculateTotalCost();
                	       
                	    }
                	 

                	 
                	
                  function updateQuantity(cartId, quantity) {
                	    $.ajax({
                	        url: '/cart/updateQuantity',
                	        type: 'POST',
                	        data: {
                	            cartId: cartId,
                	            quantity: quantity
                	        },
                	        success: function (response) {
                	            loadCartData();
                	        },
                	        error: function (error) {
                	            // Hiển thị thông báo lỗi cho người dùng
                	            alert("Cập nhật số lượng thất bại: " + error.responseJSON.message); // Hiển thị thông báo hoặc cập nhật giao diện để thông báo việc thất bại
                	        }
                	    });
                	} 

                  function deleteCartItem(cartId) {
                	    Swal.fire({
                	        title: 'Are you sure you want to delete?',
                	        text: 'This action cannot be undone!',
                	        icon: 'warning',
                	        showCancelButton: true,
                	        confirmButtonText: 'Yes',
                	        cancelButtonText: 'No'
                	    }).then((result) => {
                	        if (result.isConfirmed) {
                	            $.ajax({
                	                type: 'POST',
                	                url: '/cart/deleteCart',  // Đảm bảo rằng đường dẫn URL đúng
                	                data: {
                	                    cartId: cartId
                	                },
                	                success: function (response) {
                	                    console.log(response);
                	                    // Refresh your cart data or update the UI as needed
                	                    loadCartData();
                	                    Swal.fire('Deleted!', 'Your cart has been deleted.', 'success');
                	                    document.getElementById('totalCostAmount').textContent = '0';
                	                },
                	                error: function (jqXHR, textStatus, errorThrown) {
                	                    if (jqXHR.status === 400) {
                	                        var error = jqXHR.responseJSON || jqXHR.responseText;
                	                        Swal.fire('Error!', error, 'error');
                	                    }
                	                }
                	            });
                	        } else if (result.dismiss === Swal.DismissReason.cancel) {
                	            Swal.fire('Canceled!', '', 'error');
                	        }
                	    });
                	}
                  
                  function deleteAllCart() {
                	   Swal.fire({
               	        title: 'Are you sure you want to delete all cart?',
               	        text: 'This action cannot be undone!',
               	        icon: 'warning',
               	        showCancelButton: true,
               	        confirmButtonText: 'Yes',
               	        cancelButtonText: 'No'
               	    }).then((result) => {
               	        if (result.isConfirmed) {
                	    $.ajax({
                	        type: 'POST',
                	        url: '/cart/deleteAllCart', // Đường dẫn tới endpoint xóa tất cả giỏ hàng
                	        success: function (response) {
                	            console.log(response);
                	            loadCartData();
                	            Swal.fire('Deleted!', 'All items have been removed from the cart.', 'success');
                	            document.getElementById('totalCostAmount').textContent = '0';
                	        },
        	                error: function (jqXHR, textStatus, errorThrown) {
        	                    if (jqXHR.status === 400) {
        	                        var error = jqXHR.responseJSON || jqXHR.responseText;
        	                        Swal.fire('Error!', error, 'error');
        	                    }
        	                }
        	            });
        	        } else if (result.dismiss === Swal.DismissReason.cancel) {
        	            Swal.fire('Canceled!', '', 'error');
        	        }
        	    });
                	}


                 


         

      </script>

	</div>
</body>
</html>