<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/fragments/index.html}">
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
	rel="stylesheet" />

</head>
<body>
	<div layout:fragment="content">
		<style>
.error {
	color: red;
	font-size: 14px;
	font-style: italic;
	margin-top: 5px;
	display: block;
}
</style>
		<!-- Start Maincontent  -->
		<section>

			<div class="container">
				<div class="row">
					<div class="col-2">
						<div class="row">
							<div class="col-md-4" style="margin-top: 10px">
								<img
									src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg"
									alt="" class="shopee-avatar__img">
							</div>
							<div class="col-md-8">
								<div class="mC1Llc" th:text="${fullName}"></div>
							</div>
						</div>
						<div
							th:replace="shop/shopcontent/navbar_account :: navbar_account"></div>

					</div>
					<div class="col-md-10">
						<div class="tab-pane fade show active" id="account-details">
							<div>

								<div class="col-md-6 offset-md-3">
									<!-- form card change password -->
									<div class="card">
										<div class="card-header">
											<center>
												<h3>Change Password</h3>
											</center>
										</div>
										<div class="card-body" style="font-size: 17px">
											<div class="form" role="form">
												<input type="hidden" class="form-control" id="id"
													aria-describedby="">
												<div class="form-group">
													<label for="password" style="font-size: 16px;">Current
														Password</label>
													<div class="input-group">
														<input type="password" class="form-control"
															name="currentpassword" id="currentPassword"
															aria-describedby="" placeholder="New Password"> <span
															class="input-group-addon"> <span
															id="showPassword1" class="fa fa-eye"
															onclick="togglePasswsordVisibility1()"></span>
														</span>
													</div>
													<span id="currentPassword-error" class="text-danger error"></span>
												</div>
												<div class="form-group">
													<label for="newpassswor" style="font-size: 16px;">New
														Password</label>
													<div class="input-group">
														<input type="password" class="form-control"
															name="newpassword" id=newPassword aria-describedby=""
															placeholder="New Password"> <span
															class="input-group-addon"> <span
															id="showPassword2" class="fa fa-eye"
															onclick="togglePasswsordVisibility2()"></span>
														</span>
													</div>
													<span id="newPassword-error" class="text-danger error"></span>
												</div>
												<div class="form-group">
													<label for="fullname" style="font-size: 16px;">Cofirm
														Password</label>
													<div class="input-group">
														<input type="password" class="form-control" name="cofirm"
															id="confirmNewPassword" aria-describedby=""
															placeholder="Cofirm Password"> <span
															class="input-group-addon"> <span
															id="showPassword3" class="fa fa-eye"
															onclick="togglePasswsordVisibility3()"></span>
														</span>
													</div>
													<span id="confirmNewPassword-error"
														class="text-danger error"></span>
												</div>
												<div class="form-group">
													<button type="submit"
														class="btn btn-success btn-lg float-right"
														style="font-size: 16px" onclick="checkChangePassword()">Save</button>
												</div>
											</div>
										</div>
									</div>
									<!-- /form card change password -->
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<!-- Modal refuse-->
		<div class="modal" id="refuseOrder">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cancel order</h5>
						<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to cancel this order??</p>
						<input type="hidden" th:id="orderIdRefuseModal" name="orderId">
						<input type="hidden" th:id="statusRefuseModal" name="status">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-ba-dismiss="modal">Cancel</button>
						<button type="button" data-id="" data-update-status="2"
							class="btn btn-danger" th:id="refuse-order-modal"
							onclick='updateStatus(event)'>Confirm</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Maincontent  -->
		<!-- Thêm Bootstrap JS -->

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
		<script src="/shopview/assets/js/changePassword.js"></script>
	</div>
</body>
</html>