<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/fragments/index.html}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
	
		<!-- Start Maincontent  -->
		<section>

			<div class="container">
				<div class="row">
					<div class="col-2">
						<div class="row">
							<div class="col-md-4" style="margin-top: 10px">
								<img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" alt=""
									class="shopee-avatar__img">
							</div>
							<div class="col-md-8">
								<div class="mC1Llc" th:text="${fullName}"></div>
							</div>
						</div>
						<div
							th:replace="shop/shopcontent/navbar_account :: navbar_account"></div>

					</div>
					<div class="col-md-10">
						<div class="VrgkXA">
							<button class="btn" th:id="search-btn">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
							<input
								placeholder="Search"
								type="text" th:id="keyword">
						</div>
						<div class="order-wrap"></div>
						<nav th:id="paging" class="d-flex justify-content-center mb-40"></nav>
					</div>
				</div>
			</div>

		</section>
		<!-- Modal refuse-->
		<div class="modal" id="refuseOrder">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cancel order</h5>
						<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to cancel this order??</p>
						<input type="hidden" th:id="orderIdRefuseModal" name="orderId">
						<input type="hidden" th:id="statusRefuseModal" name="status">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
						<button type="button" data-id="" data-update-status="2"
							class="btn btn-danger" th:id="refuse-order-modal"
							onclick='updateStatus(event)'>Confirm</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Maincontent  -->
		<!-- Thêm Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
		<script src="/shopview/assets/js/confirmedOrder.js"></script>
	</div>
</body>
</html>