<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon"
	href="/shopview/assets/images/logo/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/shopview/assets/css/style-prefix.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
	integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	crossorigin="anonymous">
<link rel="shortcut icon" type="image/x-icon"
	href="shopview/assets/img/l.png">

<!-- all css here -->
<link rel="stylesheet" href="/shopview/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/shopview/assets/css/plugin.css">
<link rel="stylesheet" href="/shopview/assets/css/bundle.css">
<link rel="stylesheet" href="/shopview/assets/css/style.css">
<link rel="stylesheet" href="/shopview/assets/css/responsive.css">
<script src="/shopview/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="/shopview/assets/css/style-prefix.css">
<link rel="stylesheet"
	href="/shopview/assets/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet"
	href="/shopview/assets/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet"
	href="/shopview/assets/OwlCarousel2-2.2.1/owl.theme.default.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- Bao gồm Toastr -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<style>
body {
	background-color: #f8f9fa;
}

.success-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.success-box {
	text-align: center;
	padding: 30px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.success-icon {
	font-size: 64px;
	color: #00cccc;
	margin-bottom: 15px;
}

.success-message {
	font-size: 28px;
	margin-bottom: 10px;
	color: #ff3399;
}

.success-details {
	font-size: 18px;
	color: #6c757d;
	margin-bottom: 20px;
}

.back-button {
	background-color: #00cccc;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.back-button:hover {
	background-color: #009999;
}
</style>
</head>
<body>
	<div class="super_container">

		<!-- Header -->
		<div th:replace="shop/fragments/header::header"></div>

		<div class="fs_menu_overlay"></div>

		<div class=" single_product_container">
			<div class="container success-container">
				<div class="success-box">
					<div class="success-icon">
						<i class="fas fa-check-circle"></i>
					</div>
					<div class="success-message">Đặt hàng thành công!</div>
					<div class="success-details">Cảm ơn bạn đã đặt hàng. Đơn hàng
						của bạn đang được xử lý.</div>
					<div class="success-details">Chúng tôi sẽ liên hệ với bạn
						trong thời gian sớm nhất.</div>
					<button class="back-button"
						onclick="window.location.href = '/product/index';">Trở về
						trang chủ</button>
				</div>
			</div>

		</div>

		<!-- Benefit -->

		<div class="benefit">
			<div class="container">
				<div class="row benefit_row">
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item">
							<i class="fa fa-truck benefit_icon" aria-hidden="true"></i>
							<div class="benefit_content">
								<h6>Free Shipping</h6>
								<p>Enjoy free shipping on all orders</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item">
							<i class="fa fa-money benefit_icon" aria-hidden="true"></i>
							<div class="benefit_content">
								<h6>Cash on Delivery</h6>
								<p>Pay with cash upon delivery</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item">
							<i class="fa fa-undo benefit_icon" aria-hidden="true"></i>
							<div class="benefit_content">
								<h6>45 Days Return</h6>
								<p>Easy returns within 45 days</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item">
							<i class="fa fa-clock-o benefit_icon" aria-hidden="true"></i>
							<div class="benefit_content">
								<h6>Open All Week</h6>
								<p>8AM - 09PM, 7 days a week</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		<!-- Footer -->
		<div th:replace="shop/fragments/footer::footer"></div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
	<script th:src="@{/js/logout.js}" type="text/javascript"></script>
	<script src="/shopview/assets/js/vendor/jquery-1.12.0.min.js"></script>
	<script src="/shopview/assets/js/popper.js"></script>
	<script src="/shopview/assets/js/bootstrap.min.js"></script>
	<script src="/shopview/assets/js/ajax-mail.js"></script>
	<script src="/shopview/assets/js/plugins.js"></script>

	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
		integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>