<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon" type="image/x-icon"
	href="shopview/assets/img/l.png">

<!-- all css here -->
<link rel="stylesheet" href="/shopview/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/shopview/assets/css/plugin.css">
<link rel="stylesheet" href="/shopview/assets/css/bundle.css">
<link rel="stylesheet" href="/shopview/assets/css/style.css">
<link rel="stylesheet" href="/shopview/assets/css/responsive.css">
<script src="/shopview/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
.del {
	text-decoration: line-through;
	opacity: 0.7;
}

.product_price {
	margin-right: 10px; /* Đặt khoảng cách 10px giữa hai thẻ */
}

#category option:hover {
	cursor: pointer;
	background-color: #f0f0f0; /* Màu nền khi hover */
	background-color: #f0f0f0;
    border: 1px solid #ddd; /* Đường viền khi hover */
    border-radius: 5px; /* Bo tròn góc */
    padding: 10px;
}

#category option {
	padding-top: 5px;
	padding-bottom: 5px /* Khoảng cách giữa các option */
}

.layere_categorie {
    border: 1px solid #ddd; /* Đặt đường viền */
    border-radius: 5px; /* Bo tròn góc */
    padding: 10px; /* Khoảng cách nội dung từ mép */
}
#category option:checked {
    background-color: #15a7b4; /* Màu nền khi được chọn */
    font-weight: bold; /* In đậm khi được chọn */
}
.layere_categorie ul {
    list-style: none; /* Ẩn dấu hiệu danh sách */
    padding: 0;
}

.layere_categorie li {
    margin-bottom: 5px; /* Khoảng cách giữa mỗi mục danh sách */
}

.layere_categorie input[type="radio"] {
    appearance: none; /* Ẩn giao diện mặc định của radio button */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; /* Độ rộng mong muốn của radio button */
    height: 20px; /* Chiều cao mong muốn của radio button */
    border: 1px solid #ddd; /* Đường viền */
    border-radius: 5px; /* Bo tròn góc */
    outline: none; /* Ẩn đường viền khi được focus */
    margin-right: 5px; /* Khoảng cách giữa mỗi radio button */
}

.layere_categorie input[type="radio"]:checked {
    background-color: #15a7b4; /* Màu nền khi được chọn */
}

.layere_categorie h4 {
    background-color: #15a7b4; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 10px; /* Khoảng cách với nội dung */
    border-radius: 5px; /* Bo tròn góc */
}


</style>
<!--
    - favicon
  -->
<link rel="shortcut icon"
	href="/shopview/assets/images/logo/favicon.ico" type="image/x-icon">

<!--
    - custom css link
  -->
<link rel="stylesheet" href="/shopview/assets/css/style-prefix.css">
</head>
<body>
	<div th:replace="shop/fragments/header::header"></div>
	<div class="container">
		<div class="breadcrumbs_area">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li>shop</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs area end-->

		<!--pos home section-->
		<div class=" pos_home_section">
			<div class="row pos_home">
				<div class="col-lg-2 col-md-2">
					<!--layere categorie"-->
					<div class="sidebar_widget shop_c">
						<div class="layere_categorie categorie__titile">
							<h4>Categories</h4>
							<div class="form-group">
								<label for="exampleFormControlSelect2"> </label> <select onclick="searchButtonClick()"
									th:id="category"
									style="padding-left: 0px; height: 120px"
									class="form-select" size="5" aria-label="Size 3 select example">
									<option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
									<option value="4">Four</option>
									<option value="5">Two</option>
									<option value="6">Three</option>
								</select>
							</div>
						</div>
					</div>
					<!--layere categorie end-->

					<!--color area start-->
					<div class="sidebar_widget color">
					    <div class="layere_categorie">
					        <div>
					            <h4>Color</h4>
					        </div>
					        
					        <ul id="colorContainer">
					           
					        </ul>
					    </div>
					</div>
					
					<!-- Size area start -->
					<div class="sidebar_widget shop_c">
					    <div class="layere_categorie">
					        <div>
					            <h4>Size</h4>
					        </div>
					        <ul id="sizeContainer">
					           
					        </ul>
					    </div>
					</div>

					<!-- size and -->
					<!--price slider start-->
					<div class="sidebar_widget price">
					<div class="layere_categorie">
						<h2>Price</h2>
						<div class="ca_search_filters">
							<input class="form-control" type="text" name="text" id="amount">
							<div id="slider-range"></div>
						</div>
						</div>
					</div>
					<!--price slider end-->
				</div>
				<div class="col-lg-10 col-md-10">

					<!--shop tab product-->
					<div class="shop_tab_product">
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="large" role="tabpanel">
								<div class="row productAll">
									
								</div>
							</div>


						</div>
					</div>
					<!--shop tab product end-->

					<!--pagination style start-->
					<div class="pagination_style d-flex justify-content-end">
						
						<div class="page_number">
							<span>Pages: </span>
							 <nav class="float-right" th:id="paging"></nav>
						</div>
					</div>
					<!--pagination style end-->
					<!--brand logo strat-->
					<div class="brand_logo mb-60">
						<div class="block_title">
							<h3>Brands</h3>
						</div>
						<div class="row">
							<div class="brand_active owl-carousel">
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand8.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand1.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand2.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand3.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand4.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand5.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand6.jpg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--brand logo end-->
				</div>
			</div>
		</div>
	</div>
	<div th:replace="shop/fragments/footer::footer"></div>
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="/shopview/assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="/shopview/assets/js/popper.js"></script>
    <script src="/shopview/assets/js/ajax-mail.js"></script>
    <script src="/shopview/assets/js/plugins.js"></script>
    <!-- <script src="/shopview/assets/js/script.js"></script> -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script>
    loadCategory();
    function loadCategory() {
      const categorySelect = document.getElementById('category');
      $.ajax({
          url: "/category/getAll",
          type: "GET",
          dataType: 'json',
          success: function (categories) {
            if (categories.length != 0) {
              categorySelect.innerHTML = "<option value='0' selected>Choose category</option>";
              categories.forEach(function (category) {const optionElement = document.createElement('option');
                  optionElement.value = category.id;
                  optionElement.textContent = category.categoryName;
                  categorySelect.appendChild(optionElement);
                });

            } else {

            }
          },
          error: function (jqXHR, textStatus, errorMessage) {
            var error = jqXHR.responseJSON
              || jqXHR.responseText;
          }
        });
    }
    
    function loadSize() {
        const sizeContainer = document.getElementById('sizeContainer');

        $.ajax({
            url: "/size/getAll",
            type: "GET",
            dataType: 'json',
            success: function(sizes) {
                if (sizes.length !== 0) {
                	const allLiElement = document.createElement('li');
                    const allInputElement = document.createElement('input');
                    allInputElement.type = 'radio';
                    allInputElement.name = 'size';
                    allInputElement.id = 'size_all';
                    allInputElement.value = '0';

                    const allLabelElement = document.createElement('label');
                    allLabelElement.setAttribute('for', 'size_all');
                    allLabelElement.textContent = 'All';

                    allLiElement.appendChild(allInputElement);
                    allLiElement.appendChild(allLabelElement);
                    sizeContainer.appendChild(allLiElement);
                    allInputElement.addEventListener('click', function() {
                        // Lấy giá trị của radio button được chọn
                        selectedSizeId = allInputElement.value;
                        searchButtonClick();
                        // Gọi hàm hoặc thực hiện các thao tác khác với giá trị đã chọn
                    });
                    

                    sizes.forEach(function(size) {
                        const liElement = document.createElement('li');
                        const inputElement = document.createElement('input');
                        inputElement.type = 'radio';
                        inputElement.name = 'size';
                        inputElement.id = `size_${size.id}`;
                        inputElement.value = size.id;

                        const labelElement = document.createElement('label');
                        labelElement.setAttribute('for', `size_${size.id}`);
                        labelElement.textContent = size.name;

                        liElement.appendChild(inputElement);
                        liElement.appendChild(labelElement);
                        sizeContainer.appendChild(liElement);

                        inputElement.addEventListener('click', function() {
                            // Lấy giá trị của radio button được chọn
                            selectedSizeId = inputElement.value;
                            searchButtonClick();
                        });
                    });
                }
            },
            error: function(jqXHR, textStatus, errorMessage) {
                var error = jqXHR.responseJSON || jqXHR.responseText;
            }
        });
    }

    loadSize();
    
    function loadColor() {
        const colorContainer = document.getElementById('colorContainer');

        $.ajax({
            url: "/color/getAll",
            type: "GET",
            dataType: 'json',
            success: function(colors) {
                if (colors.length !== 0) {
                    // Thêm radio button "All" vào đầu danh sách
                    const allLiElement = document.createElement('li');
                    const allInputElement = document.createElement('input');
                    allInputElement.type = 'radio';
                    allInputElement.name = 'color';
                    allInputElement.id = 'color_all';
                    allInputElement.value = '0';

                    const allLabelElement = document.createElement('label');
                    allLabelElement.setAttribute('for', 'color_all');
                    allLabelElement.textContent = 'All';

                    allLiElement.appendChild(allInputElement);
                    allLiElement.appendChild(allLabelElement);
                    colorContainer.appendChild(allLiElement);
                    allInputElement.addEventListener('click', function() {
                        // Lấy giá trị của radio button được chọn
                        selectedColorId = allInputElement.value;
                        console.log('Đã chọn màu có ID: ' + selectedColorId);
                        searchButtonClick();
                    });
                    

                    colors.forEach(function(color) {
                        const liElement = document.createElement('li');
                        const inputElement = document.createElement('input');
                        inputElement.type = 'radio';
                        inputElement.name = 'color';
                        inputElement.id = `color_${color.id}`;
                        inputElement.value = color.id;

                        const labelElement = document.createElement('label');
                        labelElement.setAttribute('for', `color_${color.id}`);
                        labelElement.textContent = color.name;

                        liElement.appendChild(inputElement);
                        liElement.appendChild(labelElement);
                        colorContainer.appendChild(liElement);

                        inputElement.addEventListener('click', function() {
                            // Lấy giá trị của radio button được chọn
                            selectedColorId = inputElement.value;
                            console.log('Đã chọn màu có ID: ' + selectedColorId);
                            searchButtonClick();
                            // Gọi hàm hoặc thực hiện các thao tác khác với giá trị đã chọn
                        });
                    });
                }
            },
            error: function(jqXHR, textStatus, errorMessage) {
                var error = jqXHR.responseJSON || jqXHR.responseText;
            }
        });
    }


    loadColor();



    loadAllProduct(0, 0, 0, 0, 0,null, null, "");
    function loadAllProduct(page, categoryId, brandId, sizeId, colorId, minPrice, maxPrice, keyword) {
      $.ajax({
        url: '/product/getProductView',
        type: 'GET',
        dataType: 'json',
        data: {
          page: page,categoryId: categoryId,brandId: brandId,sizeId: sizeId,colorId: colorId, minPrice : minPrice, maxPrice : maxPrice, keyword: keyword
        },
        success: function (data) {
          $('.productAll').empty();

          $.each(data.productResponseDtos, function (index, product) {
            var col = $('<div>').addClass('col-lg-3 col-md-6');
            var single_product = $('<div>').addClass('single_product');
            var product_thumb = $('<div>').addClass('product_thumb');

            var product_content = $('<div>').addClass('product_content');
            var product_info = $('<div>') .addClass( 'product_info');
            //image
            $.each(
                product.images,function (i,image) {
                  if (product.images[i].isDefault == true) {
                    product_thumb.append($('<a>',{
                          href: '/product/details?productId='+product.id}).append($('<img>').attr('src',"../upload/" + image.inmageForSave).addClass('card-img-top')));
                  }
                });

            //variant
            $.each( product.variantResponseDtos,function (i,variant) {
                  if (i === 0) {
                    var formattedPrice = variant.price.toLocaleString('vi-VN',{style: 'currency', currency: 'VND'});

                    if (variant.currentPrice != null) {
                      var formattedCurentPrice = variant.currentPrice.toLocaleString('vi-VN',{style: 'currency', currency: 'VND'});
                      product_content.append($('<span>').text(formattedCurentPrice).addClass('product_price '));
                      product_content.append($('<span>').text(formattedPrice).addClass('product_price del'));

                    } else {
                      product_content.append($('<span>').text(formattedPrice).addClass('product_price'));
                    }

                  }
                });
            product_content.append($('<div>').text(product.id).hide().addClass('id'));
            product_content.append($('<h3>').append($('<a>',{
                      href: '/product/details?productId='+product.id,
                      text: product.title
                    }).addClass('product_title')));
            product_info.append($('<ul>').append(
            	  $('<li>').append($('<a>',{
                         href: '/product/details?productId='+product.id,
                         text: 'View Detail',
                       })),
                  $('<li>').append($('<a>',{
                          href: '#',
                          text: 'Add to cart',
                          'data-toggle': 'modal',
                          'data-target': '#modal_box'
                   }))));

            single_product.append(product_thumb)
            single_product.append(product_content)
            single_product.append(product_info)

            col.append(single_product);
            $('.productAll').append(col);
          });
          pagination = '';
	         currentPage = data.currentPage;
	         totalPages = data.totalPages;
	         size = data.size;
	        //create pagination 
		     createPagination("#paging",pagination,currentPage,totalPages,categoryId,brandId,sizeId,colorId,minPrice, maxPrice, keyword );
        }
      });
    }
    
    function createPagination(navId,pagination,currentPage,totalPages,categoryId,brandId,sizeId,colorId,minPrice,maxPrice, keyword ){
  	  $(navId).empty();
        
        pagination += '<ul class="pagination">';
        pagination += '<li ' + (currentPage > 0 ? '' : 'class="page-item disabled"') + '><a class="page-link" onclick="' + (currentPage > 0 ? 'loadAllProduct(' + (currentPage - 1) +','+categoryId +','+brandId +','+sizeId +','+colorId +','+minPrice +','+maxPrice +',\''+keyword+'\')' : 'return false;') + '" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only"></span></a></li>';

       
            var startPage = currentPage > 2 ? currentPage - 2 : 0;
            var endPage = currentPage + 2 < totalPages - 1 ? currentPage + 2 : totalPages - 1;

            for (var i = startPage; i <= endPage; i++) {
                pagination += '<li ' + (currentPage === i ? 'class="page-item active"' : '') + '><a class="page-link" onclick="loadAllProduct(' + i +','+categoryId +','+brandId +','+sizeId +','+colorId +','+minPrice +','+maxPrice +',\''+keyword+'\')">' + (i + 1) + '</a></li>';
            }
           //${page.totalPages > 5 && page.number < page.totalPages - 3}
            if ((totalPages > 5) &&  (currentPage < totalPages-3)) {
                pagination += '<li class="page-item disabled"><a class="page-link" >...</a></li>';
            }
           
            if ((totalPages > 1) && (totalPages-1 != currentPage) && (totalPages-2 != currentPage) && (currentPage<totalPages-3)) {
                pagination += '<li><a class="page-link" onclick="loadAllProduct(' + i +','+categoryId +','+brandId +','+sizeId +','+colorId +','+minPrice +','+maxPrice +',\''+keyword+'\')">';
            }

        pagination += '<li ' + (currentPage < totalPages - 1 ? '' : 'class="page-item disabled"') + '><a class="page-link" onclick="' + (currentPage < totalPages - 1 ? 'loadAllProduct(' + (currentPage + 1) +','+categoryId +','+brandId +','+sizeId +','+colorId +','+minPrice +','+maxPrice +',\''+keyword+'\')' : 'return false;') + '" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only"></span></a></li>';
        pagination += '</ul>';
         
        $(navId).append(pagination);
    }
    
    //var searchButton = document.getElementById("searchButton");
	// var  keyInput = document.getElementById("key");
	 
      
    	      /*--------------------------
    	     ScrollUp
    	    ---------------------------- */
    	    $.scrollUp({
    	        scrollText: '<i class="fa fa-angle-double-up"></i>',
    	        easingType: 'linear',
    	        scrollSpeed: 900,
    	        animation: 'fade'
    	    });
    		
    	    
    	     /* brand activation */
    	    $('.brand_active').owlCarousel({
    	        animateOut: 'fadeOut',
    			loop: true,
    	        nav: true,
    	        autoplay: false,
    	        autoplayTimeout: 8000,
    	        items: 6,
    	        dots:true,
    	        navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
    	        responsiveClass:true,
    			responsive:{
    				0:{
    					items:1,
    				},
    	            480:{
    					items:3,
    				},
    	            992:{
    					items:4,
    				},
    	            1200:{
    					items:6,
    				},

    			  }
    	    });
    	    
    	    
    	    $("#slider-range").slider({
    	        range: true,
    	        min: 0,
    	        max: 2000000,
    	        step: 10000,
    	        values: [0, 10000],
    	        slide: function (event, ui) {
    	        	minPrice = ui.values[0];
    	            maxPrice = ui.values[1];
    	            $("#amount").val(ui.values[0].toLocaleString('vi-VN') + "đ" + " - " + ui.values[1].toLocaleString('vi-VN') + "đ");
    	        },
    	        change: function(event, ui) {
    	            searchButtonClick();
    	        }
    	    });

    	    // Đặt giá trị mặc định của input khi trang web được tải
    	    $("#amount").val(
    	        $( "#slider-range" ).slider("values", 0).toLocaleString('vi-VN') + "đ" +
    	        " - " +
    	        $( "#slider-range" ).slider("values", 1).toLocaleString('vi-VN') + "đ"
    	    );

    	      

    	     var selectedColorId;
    		  var selectedSizeId;
    		  var minPrice;
    		  var maxPrice;
    	      function searchButtonClick() {
    			  var key = "";
    			  var categoryId = document.getElementById("category").value;
    			  loadAllProduct(0, categoryId, 0, selectedSizeId, selectedColorId, minPrice,maxPrice, key);
    		  }

  </script>
</body>
</html>