<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
  layout:decorate="~{shop/fragments/index.html}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <div  layout:fragment="content">
  <!--pos home section-->
                <div class=" pos_home_section">
                    <div class="row pos_home">
                        <div class="col-lg-3 col-md-8 col-12">
                            <!--sidebar banner-->
                            <div class="sidebar_widget banner mb-35">
                                <div class="single_banner">
                                    <a href="#"><img src="/shopview/assets/img/banner/banner04.png" alt=""></a>
                                    <div class="banner_title">
                                        <p>Up to <span> 40%</span> off</p>
                                    </div>
                                </div>
                                <br>
                                <div class="single_banner">
                                    <a href="#"><img src="/shopview/assets/img/banner/banner05.png" alt=""></a>
                                    <div class="banner_title title_2">
                                        <p>sale off <span> 30%</span></p>
                                    </div>
                                </div>
                            </div>
                            <!--sidebar banner end-->

                            <!--categorie menu start-->
                            <div>
                                <iframe width="300" height="380" autoplay style="margin-top: 40px;"
                                    src="https://www.youtube.com/embed/GdlSWFyYA8s?si=UYhxyfIy-pQ5Ffbf"
                                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                                         gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <!--categorie menu end-->

                            <!--wishlist block start-->
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8025892826463!2d108.16738507468429!3d16.07573073926476!
                                        2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219b509a30cfb%3A0xb93a05e26b3b28ff!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCB
                                        Qb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1697426098224!5m2!1svi!2s" width="300"
                                    height="400" style="border: 2px solid; margin-top: 15px;" allowfullscreen=""
                                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <!--wishlist block end-->

                            <!--newsletter block start-->

                            <!--newsletter block end-->

                            <!--sidebar banner-->
                            <!--sidebar banner end-->



                        </div>
                        <div class="col-lg-9 col-md-12">
                            <!--banner slider start-->
                            <div class="banner_slider slider_1">
                                <div class="slider_active owl-carousel">
                                    <div class="single_slider"
                                        style="background-image: url(/shopview/assets/img/banner/bannermain.jpg)">
                                        <div class="slider_content">
                                            <div class="slider_content_inner">
                                                <h1>Adela shop</h1>
                                                <p>Bringing the latest products and good quality. </p>
                                                <a href="#">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_slider"
                                        style="background-image: url(/shopview/assets/img/banner/banner02.jpg)">
                                        <div class="slider_content">
                                            <div class="slider_content_inner">
                                                <h1>Adela shop</h1>
                                                <p>Many attractive offers and big discounts. </p>
                                                <a href="#">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_slider"
                                        style="background-image: url(/shopview/assets/img/banner/banner03.png)">
                                        <div class="slider_content">
                                            <div class="slider_content_inner">
                                                <h1>Adela shop</h1>
                                                <p>Detailed and dedicated consultation. </p>
                                                <a href="#">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--banner slider start-->

                            <!--new product area start-->
                            <div class="new_product_area">
                                <div class="block_title">
                                    <h3>New Products</h3>
                                </div>
                                <div class="row">
                                    <div class="product_active owl-carousel">
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/adidas1.jpg" alt=""></a>
                                                    <div class="img_icone">
                                                        <img src="/shopview/assets/img/cart/span-new.png" alt="">
                                                    </div>
                                                   
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$40.00</span>
                                                    <h3 class="product_title"><a href="product.html">ULTRABOOST
                                                            LIGHT PARLEY NON DYED</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/adidas2.jpg" alt=""></a>
                                                    <div class="img_icone">
                                                        <img src="/shopview/assets/img/cart/span-new.png" alt="">
                                                    </div>
                                                   
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$40.00</span>
                                                    <h3 class="product_title"><a href="product.html">ULTRABOOST
                                                            LIGHT PARLEY WONDER RED / CLOUD WHITE</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/adidas3.jpg" alt=""></a>
                                                    <div class="img_icone">
                                                        <img src="assets/img/cart/span-new.png" alt="">
                                                    </div>
                                                  
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$60.00</span>
                                                    <h3 class="product_title"><a href="product.html">ULTRABOOST
                                                            LIGHT PARLEY CORE BLACK</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/adidas4.jpg" alt=""></a>
                                                    <div class="img_icone">
                                                        <img src="/shopview/assets/img/cart/span-new.png" alt="">
                                                    </div>
                                                   
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$65.00</span>
                                                    <h3 class="product_title"><a href="product.html">ULTRABOOST
                                                            LIGHT CLOUD WHITE / SOLAR RED</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="#" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/adidas5.jpg" alt=""></a>
                                                    <div class="img_icone">
                                                        <img src="/shopview/assets/img/cart/span-new.png" alt="">
                                                    </div>
                                                   
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$50.00</span>
                                                    <h3 class="product_title"><a href="product.html">ULTRABOOST
                                                            LIGHT WHITE GREEN</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--new product area start-->

                            <!--featured product start-->
                            <div class="featured_product">
                                <div class="block_title">
                                    <h3>Hot Products</h3>
                                </div>
                                <div class="row">
                                    <div class="product_active owl-carousel">
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/nike1.jpg" alt=""></a>
                                                    <div class="hot_img">
                                                        <img src="/shopview/assets/img/cart/span-hot.png" alt="">
                                                    </div>
                                                  
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$60.00</span>
                                                    <h3 class="product_title"><a href="product.html">AIR JORDAN 1
                                                            LOW NAVY (2004)</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/nike2.jpg" alt=""></a>
                                                    <div class="hot_img">
                                                        <img src="/shopview/assets/img/cart/span-hot.png" alt="">
                                                    </div>
                                                   
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$50.00</span>
                                                    <h3 class="product_title"><a href="product.html">AIR JORDAN 1
                                                            LOW SHADOW BROWN</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/nike3.jpg" alt=""></a>
                                                    <div class="hot_img">
                                                        <img src="assets/img/cart/span-hot.png" alt="">
                                                    </div>
                                                   
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$70.00</span>
                                                    <h3 class="product_title"><a href="product.html">AIR JORDAN 1
                                                            LOW LUCKY GREEN/AQUATONE</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/nike4.jpg" alt=""></a>
                                                    <div class="hot_img">
                                                        <img src="/shopview/assets/img/cart/span-hot.png" alt="">
                                                    </div>
                                                    
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$60.00</span>
                                                    <h3 class="product_title"><a href="product.html">AIR JORDAN 1
                                                            LOW LUCKY GREEN</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="single_product">
                                                <div class="product_thumb">
                                                    <a href="/shop/product"><img
                                                            src="/shopview/assets/img/product/nike5.jpg" alt=""></a>
                                                    <div class="hot_img">
                                                        <img src="/shopview/assets/img/cart/span-hot.png" alt="">
                                                    </div>
                                                   
                                                </div>
                                                <div class="product_content">
                                                    <span class="product_price">$50.00</span>
                                                    <h3 class="product_title"><a href="product.html">AIR JORDAN 1
                                                            LOW SE MIGHTY SWOOSHERS</a></h3>
                                                </div>
                                                <div class="product_info">
                                                    <ul>
                                                        <li><a href="/shop/product" title=" Add to Wishlist ">View Detail</a>
                                                        </li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                                title="Quick view">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--featured product end-->

             

                            <!--brand logo strat-->
                            <div class="brand_logo mb-60">
                                <div class="block_title">
                                    <h3>Brands</h3>
                                </div>
                                <div class="row">
                                    <div class="brand_active owl-carousel">
                                        <div class="col-lg-9">
                                            <div class="single_brand">
                                                <a href="#"><img src="/shopview/assets/img/brand/brand11.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single_brand">
                                                <a href="#"><img src="/shopview/assets/img/brand/brand1.png" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single_brand">
                                                <a href="#"><img src="/shopview/assets/img/brand/brand2.png" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single_brand">
                                                <a href="#"><img src="/shopview/assets/img/brand/brand3.png" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single_brand">
                                                <a href="#"><img src="/shopview/assets/img/brand/brand4.png" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single_brand">
                                                <a href="#"><img src="/shopview/assets/img/brand/brand10.png" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single_brand">
                                                <a href="#"><img src="/shopview/assets/img/brand/brand9.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--brand logo end-->
                        </div>
                    </div>
                </div>
                <!--pos home section end-->
                 
                </div>
                
</body>
</html>