<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/fragments/index.html}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
	<style>
.del {
	text-decoration: line-through;
	opacity: 0.7;
}

.product_price {
	margin-right: 10px; /* Đặt khoảng cách 10px giữa hai thẻ */
}

.modal_size, .sidebar_widget{
    display: flex;
    align-items: center;
}

.modal_size h2, .sidebar_widget h2 {
    margin-right: 10px; 
}

.box_quantity {
    display: inline-flex;
    align-items: center;
}

.box_quantity .minus,
.box_quantity .plus {
    cursor: pointer;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    user-select: none;
    border-radius: 2px;
}

.box_quantity input {
    width: 60px; 
}
.box_quantity .minus:hover,
.box_quantity .plus:hover {
  background-color: #ff0000;
}

.error-text {
    display: block;
    clear: both; /* Đảm bảo rằng phần tử sẽ xuống dòng mới */
    margin-top: 5px; /* Khoảng cách giữa chữ báo lỗi và input quantity */
}

#category option:hover {
	cursor: pointer;
	background-color: #f0f0f0; /* Màu nền khi hover */
	background-color: #f0f0f0;
    border: 1px solid #ddd; /* Đường viền khi hover */
    border-radius: 5px; /* Bo tròn góc */
    padding: 10px;
}

#category option {
	padding-top: 5px;
	padding-bottom: 5px /* Khoảng cách giữa các option */
}

.layere_categorie {
    border: 1px solid #ddd; /* Đặt đường viền */
    border-radius: 5px; /* Bo tròn góc */
    padding: 10px; /* Khoảng cách nội dung từ mép */
}
#category option:checked {
    background-color: #15a7b4; /* Màu nền khi được chọn */
    font-weight: bold; /* In đậm khi được chọn */
}
.layere_categorie ul {
    list-style: none; /* Ẩn dấu hiệu danh sách */
    padding: 0;
}

.layere_categorie li {
    margin-bottom: 5px; /* Khoảng cách giữa mỗi mục danh sách */
}

.layere_categorie input[type="radio"] {
    appearance: none; /* Ẩn giao diện mặc định của radio button */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; /* Độ rộng mong muốn của radio button */
    height: 20px; /* Chiều cao mong muốn của radio button */
    border: 1px solid #ddd; /* Đường viền */
    border-radius: 5px; /* Bo tròn góc */
    outline: none; /* Ẩn đường viền khi được focus */
    margin-right: 5px; /* Khoảng cách giữa mỗi radio button */
}

.layere_categorie input[type="radio"]:checked {
    background-color: #15a7b4; /* Màu nền khi được chọn */
}

.layere_categorie h4 {
    background-color: #15a7b4; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 10px; /* Khoảng cách với nội dung */
    border-radius: 5px; /* Bo tròn góc */
}

.modal-content button.close {
	position: relative;
	left: 94%;
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid #555;
	top: 10px;
	border-radius: 5px;
	cursor: pointer;
	z-index: 9;
}
</style>
		<!--pos home section-->
		<div class=" pos_home_section mt-5">
			<div class="row pos_home">
				<div class="col-lg-3 col-md-8 col-12">
					<!--sidebar banner-->
					<div class="sidebar_widget1 banner mb-35">
						<div class="single_banner">
							<a href="#"><img
								src="/shopview/assets/img/banner/banner04.png" alt=""></a>
							<div class="banner_title">
								<p>
									Up to <span> 40%</span> off
								</p>
							</div>
						</div>
						<br>
						<div class="single_banner">
							<a href="#"><img
								src="/shopview/assets/img/banner/banner05.png" alt=""></a>
							<div class="banner_title title_2">
								<p>
									sale off <span> 30%</span>
								</p>
							</div>
						</div>
					</div>
					<!--sidebar banner end-->

					<!--categorie menu start-->
					<div>
						<iframe width="300" height="380" autoplay
							style="margin-top: 60px;"
							src="https://www.youtube.com/embed/GdlSWFyYA8s?si=UYhxyfIy-pQ5Ffbf"
							title="YouTube video player" >
                           </iframe>
					</div>
					<!--categorie menu end-->

					<!--wishlist block start-->
					<div>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8025892826463!2d108.16738507468429!3d16.07573073926476!
                                        2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219b509a30cfb%3A0xb93a05e26b3b28ff!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCB
                                        Qb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1697426098224!5m2!1svi!2s"
							width="300" height="500"
							style="border: 2px solid; margin-top: 15px;" ></iframe>
					</div>
					<!--wishlist block end-->

					<!--newsletter block start-->

					<!--newsletter block end-->

					<!--sidebar banner-->
					<!--sidebar banner end-->



				</div>
				<div class="col-lg-9 col-md-12">
					<!--banner slider start-->
					<div class="banner_slider slider_1">
						<div class="slider_active owl-carousel">
							<div class="single_slider"
								style="background-image: url(/shopview/assets/img/banner/bannermain.jpg)">
								<div class="slider_content">
									<div class="slider_content_inner">
										<h1>Adela shop</h1>
										<p>Bringing the latest products and good quality.</p>
										<a href="#">shop now</a>
									</div>
								</div>
							</div>
							<div class="single_slider"
								style="background-image: url(/shopview/assets/img/banner/banner02.jpg)">
								<div class="slider_content">
									<div class="slider_content_inner">
										<h1>Adela shop</h1>
										<p>Many attractive offers and big discounts.</p>
										<a href="#">shop now</a>
									</div>
								</div>
							</div>
							<div class="single_slider"
								style="background-image: url(/shopview/assets/img/banner/banner03.png)">
								<div class="slider_content">
									<div class="slider_content_inner">
										<h1>Adela shop</h1>
										<p>Detailed and dedicated consultation.</p>
										<a href="#">shop now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--banner slider start-->

					<!--new product area start-->
					<div class="new_product_area">
						<div class="block_title">
							<h3>New Products</h3>
						</div>
						<div class="row">
							<div class="product_active owl-carousel">
								<div class="col-lg-3">
									<div class="single_product">
										<div class="product_thumb">
											<a href="/shop/product"><img
												src="/shopview/assets/img/product/adidas1.jpg" alt=""></a>
											<div class="img_icone">
												<img src="/shopview/assets/img/cart/span-new.png" alt="">
											</div>

										</div>
										<div class="product_content">
											<span class="product_price">$40.00</span>
											<h3 class="product_title">
												<a href="product.html">ULTRABOOST LIGHT PARLEY NON DYED</a>
											</h3>
										</div>
										<div class="product_info">
											<ul>
												<li><a href="/shop/product" title=" Add to Wishlist ">View
														Detail</a></li>
												<li><a href="#" data-toggle="modal"
													data-target="#modal_box" title="Quick view">Add to cart</a></li>
											</ul>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!--new product area start-->

					<!--featured product start-->
					<div class="featured_product">
						<div class="block_title">
							<h3>Hot Products</h3>
						</div>
						<div class="row">
							<div class="product_active owl-carousel">
								<div class="col-lg-3">
									<div class="single_product">
										<div class="product_thumb">
											<a href="/shop/product"><img
												src="/shopview/assets/img/product/nike1.jpg" alt=""></a>
											<div class="hot_img">
												<img src="/shopview/assets/img/cart/span-hot.png" alt="">
											</div>

										</div>
										<div class="product_content">
											<span class="product_price">$60.00</span>
											<h3 class="product_title">
												<a href="product.html">AIR JORDAN 1 LOW NAVY (2004)</a>
											</h3>
										</div>
										<div class="product_info">
											<ul>
												<li><a href="/shop/product" title=" Add to Wishlist ">View
														Detail</a></li>
												<li><a href="#" data-toggle="modal"
													data-target="#modal_box" title="Quick view">Add to cart</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="single_product">
										<div class="product_thumb">
											<a href="/shop/product"><img
												src="/shopview/assets/img/product/nike2.jpg" alt=""></a>
											<div class="hot_img">
												<img src="/shopview/assets/img/cart/span-hot.png" alt="">
											</div>

										</div>
										<div class="product_content">
											<span class="product_price">$50.00</span>
											<h3 class="product_title">
												<a href="product.html">AIR JORDAN 1 LOW SHADOW BROWN</a>
											</h3>
										</div>
										<div class="product_info">
											<ul>
												<li><a href="/shop/product" title=" Add to Wishlist ">View
														Detail</a></li>
												<li><a href="#" data-toggle="modal"
													data-target="#modal_box" title="Quick view">Add to cart</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="single_product">
										<div class="product_thumb">
											<a href="/shop/product"><img
												src="/shopview/assets/img/product/nike3.jpg" alt=""></a>
											<div class="hot_img">
												<img src="assets/img/cart/span-hot.png" alt="">
											</div>

										</div>
										<div class="product_content">
											<span class="product_price">$70.00</span>
											<h3 class="product_title">
												<a href="product.html">AIR JORDAN 1 LOW LUCKY
													GREEN/AQUATONE</a>
											</h3>
										</div>
										<div class="product_info">
											<ul>
												<li><a href="/shop/product" title=" Add to Wishlist ">View
														Detail</a></li>
												<li><a href="#" data-toggle="modal"
													data-target="#modal_box" title="Quick view">Add to cart</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="single_product">
										<div class="product_thumb">
											<a href="/shop/product"><img
												src="/shopview/assets/img/product/nike4.jpg" alt=""></a>
											<div class="hot_img">
												<img src="/shopview/assets/img/cart/span-hot.png" alt="">
											</div>

										</div>
										<div class="product_content">
											<span class="product_price">$60.00</span>
											<h3 class="product_title">
												<a href="product.html">AIR JORDAN 1 LOW LUCKY GREEN</a>
											</h3>
										</div>
										<div class="product_info">
											<ul>
												<li><a href="/shop/product" title=" Add to Wishlist ">View
														Detail</a></li>
												<li><a href="#" data-toggle="modal"
													data-target="#modal_box" title="Quick view">Add to cart</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="single_product">
										<div class="product_thumb">
											<a href="/shop/product"><img
												src="/shopview/assets/img/product/nike5.jpg" alt=""></a>
											<div class="hot_img">
												<img src="/shopview/assets/img/cart/span-hot.png" alt="">
											</div>

										</div>
										<div class="product_content">
											<span class="product_price">$50.00</span>
											<h3 class="product_title">
												<a href="product.html">AIR JORDAN 1 LOW SE MIGHTY
													SWOOSHERS</a>
											</h3>
										</div>
										<div class="product_info">
											<ul>
												<li><a href="/shop/product" title=" Add to Wishlist ">View
														Detail</a></li>
												<li><a href="#" data-toggle="modal"
													data-target="#modal_box" title="Quick view">Add to cart</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--featured product end-->



					<!--brand logo strat-->
					<div class="brand_logo mb-60">
						<div class="block_title">
							<h3>Brands</h3>
						</div>
						<div class="row">
							<div class="brand_active owl-carousel">
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand11.jpg" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand1.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand2.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand3.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand4.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand10.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="single_brand">
										<a href="#"><img
											src="/shopview/assets/img/brand/brand9.png" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--brand logo end-->
				</div>
			</div>
		</div>
		<!--pos home section end-->
		<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="modal_body">
						<div class="container">
							<div class="row">
								<div class="product_details video_details">
									<div class="row">
										<div class="col-lg-5 col-md-6">
											<div class="single_product_pics">
												<div class="row">

													<div class="col-lg-12 image_col order-lg-2 order-1">
														<div class="single_product_image">
															<div class="single_product_image_background">
																<img class="main-image"
																	src="/shopview/assets/img/product/a10.jpg"
																	alt="Product Image">
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="product_slider_container"
															style="margin-top: 5px; max-height: 200px">
															<div
																class="owl-carousel owl-theme product_slider imageSmall">
																<!-- Danh sách ảnh nhỏ -->
																<div class="owl-item product_slider_item">
																	<div class="product_image">
																		<img class="thumbnail-image"
																			src="/shopview/assets/img/product/a11.jpg" alt="">
																	</div>
																</div>
																<!-- Thêm danh sách các ảnh nhỏ khác -->
															</div>

															<!-- Slider Navigation -->

															<div
																class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
																<i class="fa fa-chevron-left" aria-hidden="true"></i>
															</div>
															<div
																class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
																<i class="fa fa-chevron-right" aria-hidden="true"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7 col-sm-12 signle">
											<div class="modal_right">
												<div class="modal_title mb-10">
													<h2>Handbag feugiat</h2>
												</div>
												<div class="modal_price mb-10">
													<span class="new_price">$64.99</span> <span
														class="old_price">$78.99</span>
												</div>
												<div class="modal_content mb-10">
													<p>Short-sleeved blouse with feminine draped sleeve
														detail.</p>
												</div>
												<div class="product_d_size mb-20">
													<div class="modal_size mb-15">
														<h2>size</h2>
														<ul>
															<li><input type="radio" id="size-36" name="size"
																value="36"> <label for="size-36">36</label></li>
															<li><input type="radio" id="size-37" name="size"
																value="37"> <label for="size-37">37</label></li>
															<li><input type="radio" id="size-38" name="size"
																value="38"> <label for="size-38">38</label></li>
															<li><input type="radio" id="size-39" name="size"
																value="39"> <label for="size-39">39</label></li>
														</ul>
													</div>
												</div>
												<div>
													<div class="sidebar_widget color ">
														<h2>Choose Color</h2>
														<div class="widget_color">
															<ul>
																<li><input class="color-button" type="radio"
																	id="color_red" name="color"> <label
																	for="color_red">Red</label></li>
																<li><input class="color-button" type="radio"
																	id="color_white" name="color"> <label
																	for="color_white">White</label></li>
																<li><input class="color-button" type="radio"
																	id="color_black" name="color"> <label
																	for="color_black">Black</label></li>

															</ul>
														</div>
													</div>
												</div>
												<div class="modal_add_to_cart mb-15">
													<form action="#">
														<input min="0" max="100" step="2" value="1" type="number">
														<button type="submit">add to cart</button>
													</form>
												</div>
												<div class="modal_description mb-15">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing
														elit, sed do eiusmod tempor incididunt ut labore et dolore
														magna aliqua. Ut enim ad minim veniam,</p>
												</div>
												<div class="modal_social">
													<h2>Share this product</h2>
													<ul>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script>
		
		
		$(document).ready(function() {
		 loadAllProduct();
         function loadAllProduct() {
           $.ajax({
             url: '/product/getProductView',
             type: 'GET',
             success: function (data) {
             	$('.product_active').empty();
             	$.each(data.productResponseDtos, function (index, product) {
                     var col = $('<div>').addClass('col-lg-3');
                     var single_product = $('<div>').addClass('single_product');
                     var product_thumb = $('<div>').addClass('product_thumb');

                     var product_content = $('<div>').addClass('product_content');
                     var product_info = $('<div>') .addClass( 'product_info');
                     //image
                     $.each(
                         product.images,function (i,image) {
                           if (product.images[i].isDefault == true) {
                             product_thumb.append($('<a>',{
                                   href: '/product/details?productId='+product.id}).append($('<img>').attr('src',"../upload/" + image.inmageForSave).addClass('card-img-top')));
                           }
                         });

                     //variant
                     $.each( product.variantResponseDtos,function (i,variant) {
                           if (i === 0) {
                             var formattedPrice = variant.price.toLocaleString('vi-VN',{style: 'currency', currency: 'VND'});

                             if (variant.currentPrice != null) {
                               var formattedCurentPrice = variant.currentPrice.toLocaleString('vi-VN',{style: 'currency', currency: 'VND'});
                               product_content.append($('<span>').text(formattedCurentPrice).addClass('product_price '));
                               product_content.append($('<span>').text(formattedPrice).addClass('product_price del ml-2'));

                             } else {
                               product_content.append($('<span>').text(formattedPrice).addClass('product_price'));
                             }

                           }
                         });
                     product_content.append($('<div>').text(product.id).hide().addClass('id'));
                     product_content.append($('<h3>').append($('<a>',{
                               href: '/product/details?productId='+product.id,
                               text: product.title
                             }).addClass('product_title')));
                     product_info.append($('<ul>').append(
                     	  $('<li>').append($('<a>',{
                                  href: '/product/details?productId='+product.id,
                                  text: 'View Detail',
                                })),
                           $('<li>').append($('<a>',{
                                   href: '#',
                                   text: 'Add to cart',
                                   'data-toggle': 'modal',
                                   'data-target': '#modal_box',
                                   onclick: 'loadData(' + product.id + ');'
                            }))));

                     single_product.append(product_thumb)
                     single_product.append(product_content)
                     single_product.append(product_info)

                     col.append(single_product);
                     $('.product_active').append(col);
                   });
             	/* product activation */
                $('.product_active').owlCarousel({
                    animateOut: 'fadeOut',
            		loop: true,
                    nav: true,
                    autoplay: false,
                    autoplayTimeout: 8000,
                    items: 3,
                    dots:true,
                    navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
                    responsiveClass:true,
            		responsive:{
            			0:{
            				items:1,
            			},
                        576:{
            				items:2,
            			},
                        1200:{
            				items:3,
            			},

            		  }
                });
             }
           
           });
         }
		});
         
    	     var selectedColorId;
    		  var selectedSizeId;
    		  var minPrice;
    		  var maxPrice;
    	      function searchButtonClick() {
    			  var key = "";
    			  var categoryId = document.getElementById("category").value;
    			  loadAllProduct(0, categoryId, 0, selectedSizeId, selectedColorId, minPrice,maxPrice, key);
    		  }
    	      
         	      
         	//////////////
         	
    		function createRadioList(variantList, propertyName, container, labelText, divClass) {
	            var propertyList = $('<ul>'); // Tạo một danh sách ul
	            var addedProperties = {};
	
	            $.each(variantList, function(i, variant) {
	                // Nếu thuộc tính chưa được thêm vào danh sách
	                if (!addedProperties[variant[propertyName]]) {
	                    addedProperties[variant[propertyName]] = true;
	
	                    var id = variant[propertyName];
	                    var listItem = $('<li>');
	
	                    var propertyRadio = $('<input>').attr({
	                        type: 'radio',
	                        name: propertyName,
	                        value: variant[propertyName + 'Id'],
	                        id: id,
	                        class: propertyName + '-button' // Thêm class tại đây
	                    });
	
	                    // Tạo label và thiết lập for attribute
	                    var propertyLabel = $('<label>').attr('for', id).text(variant[propertyName]);
	
	                    // Thêm input radio và label vào mục li
	                    listItem.append(propertyRadio).append(propertyLabel);
	
	                    // Thêm mục li vào danh sách
	                    propertyList.append(listItem);
	                }
	            });
	
	            if (propertyName === 'size') {
	                var propertyDiv = $('<div>').addClass(divClass).append($('<h2>').text(labelText));
	                propertyDiv.append(propertyList);
	                var productDPropertyDiv = $('<div>').addClass('product_d_' + propertyName);
	                productDPropertyDiv.append(propertyDiv);
	                container.append(productDPropertyDiv);
	            } else {
	                var propertyDiv = $('<div>').addClass('sidebar_widget color').append($('<h2>').text(labelText));
	                container.append(propertyDiv);
	                propertyDiv.append($('<div>').addClass('widget_color').append(propertyList));
	            }
	        }
         	
         	
	    function loadData(productId) {	
		    	globalVariantId = null;
    		// Hủy bỏ Owl Carousel cũ trước khi tạo mới
    		 $('.owl-carousel.owl-theme.product_slider').trigger('destroy.owl.carousel');

	        $.ajax({
	            url: '/product/get?productId=' + productId,
	            type: 'GET',
	            //dataType: 'json',
	            success: function(data) {
	            	
	            	$('.single_product_image').empty();
	            	 $('.owl-carousel.owl-theme.product_slider').empty();
	                // Thêm ảnh lớn vào .single_product_image (chỉ lấy ảnh có isDefault)
	                if (data.images && data.images.length > 0) {
	                    $.each(data.images, function(i, image) {
	                        if (image.isDefault) {
	                            var imageDiv = $('<div>').addClass('single_product_image_background');
	                            var imageUrl = '/upload/' + image.inmageForSave;
	                            var img = $('<img>').addClass('main-image').attr({
	                                'src': imageUrl,
	                                'alt': 'Product Image'
	                            });

	                            imageDiv.append(img);
	                            $('.single_product_image').append(imageDiv);
	                        }
	                        
	                        var imageDiv = $('<div>').addClass('owl-item product_slider_item');
	                        var productImageDiv = $('<div>').addClass('product_image');
	                        var imageUrl = '/upload/' + image.inmageForSave;
	                        var img = $('<img>').addClass('thumbnail-image').attr({
	                            'src': imageUrl,
	                            'alt': 'Product Image'
	                        });

	                        productImageDiv.append(img);
	                        imageDiv.append(productImageDiv);

	                        // Thêm vào .imageSmall
	                        $('.owl-carousel.owl-theme.product_slider').append(imageDiv);
	                        
	                    });
	                    /* initSlider(); */
	                    var thumbnails = $('.thumbnail-image');

	   	             // Xử lý sự kiện khi hover vào ảnh nhỏ
	   	             thumbnails.on('mouseover', function () {
	   	                 // Lấy URL của ảnh nhỏ khi hover
	   	                 var newImageSrc = $(this).attr('src');

	   	                 // Thay đổi ảnh lớn khi hover vào ảnh nhỏ
	   	                 $('.main-image').attr('src', newImageSrc);
	   	             });
	   	          		initSlider();
	                }
	                
	                var colorOptionsState = [];
		 	        var sizeOptionsState = [];

	            	// Mảng để lưu trữ các phần tử cần append
	            	var elementsToAppend = [];

	            	//clear table
	            	$('.signle').empty();

	            	//add record
	            	var product_d_right = $('<div>').addClass('product_d_right');

	            	//add id
	            	product_d_right.append($('<div>').text(data.id).hide().addClass('productId'));

	            	//title
	            	product_d_right.append($('<h1>').text(data.title));
	            	//description
	            	product_d_right.append($('<div>').addClass('product_desc').append($('<p>').text(data.discription)));

	            	var countItems = 0;
	            	$.each(data.variantResponseDtos, function (i, variant) {

	            	    if (i === 0) {
	            	        var formattedPrice = variant.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

	            	        if (variant.currentPrice != null) {
	            	            var formattedCurentPrice = variant.currentPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

	            	            product_d_right.append($('<div>').addClass('content_price mb-15')
	            	                .append($('<span>').addClass('new_price').text(formattedCurentPrice))
	            	                .append($('<span>').addClass('old-price').text(formattedPrice))
	            	            );
	            	        } else {
	            	            product_d_right.append($('<div>').addClass('content_price mb-15')
	            	                .append($('<span>').text(formattedPrice))
	            	            );
	            	        }
	            	        //items;

	            	    }
	            	    countItems += variant.quantity;
	            	});
	            	var items = $('<p>').text(countItems + ' items');
	            	//button
	            	var boxQuantityDiv = $('<div>').addClass('box_quantity mb-20')
	            	    .append(
	            	        $('<form>').attr('action', '#').append(
	            	            $('<span>').addClass('minus').append(
	            	                $('<i>').addClass('fa fa-minus').attr('aria-hidden', 'true')
	            	            ),
	            	            $('<input>').attr({
	            	                'type': 'number',
	            	                'id': 'quantity-single-product',
	            	                'value': 1,
	            	                'min': 1
	            	            }),
	            	            $('<span>').addClass('plus').append(
	            	                $('<i>').addClass('fa fa-plus').attr('aria-hidden', 'true')
	            	            )
	            	        ),
	            	    )
	            	    .append(
						    $('<button>').attr('type', 'submit').attr('id', 'add-to-cart-single').append(
						        $('<i>').addClass('fa fa-shopping-cart')
						    ).append(' add to cart').on('click', function() {
						        // Gọi hàm khi nút "add to cart" được nhấp
						        addToCartInSingleProduct();
						    })
						);

	            	boxQuantityDiv.append('<br>');
	            	var errorTextDiv = $('<div>').addClass('error-text text-danger');

	            	// Thêm thẻ chữ báo lỗi vào boxQuantityDiv
	            	
	            	// Sử dụng hàm để tạo danh sách size
	            	createRadioList(data.variantResponseDtos, 'size', product_d_right, 'size:', 'modal_size');

	            	// Sử dụng hàm để tạo danh sách color
	            	createRadioList(data.variantResponseDtos, 'color', product_d_right, 'color:', '');

	            	// Hàm để tạo danh sách radio

	            	product_d_right.append(boxQuantityDiv);
	            	product_d_right.append(errorTextDiv);

	            	var stockDiv = $('<div>').addClass('product_stock mb-20');
	            	stockDiv.append(items);
	            	stockDiv.append('<span>In stock</span>');
	            	product_d_right.append(stockDiv);

	            	// Tạo và append div thứ hai với class 'wishlist-share'
	            	var wishlistDiv = $('<div>').addClass('wishlist-share');
	            	wishlistDiv.append('<h4>Share on:</h4>');
	            	wishlistDiv.append('<ul><li><a href="#"><i class="fa fa-rss"></i></a></li><li><a href="#"><i class="fa fa-vimeo"></i></a></li><li><a href="#"><i class="fa fa-tumblr"></i></a></li><li><a href="#"><i class="fa fa-pinterest"></i></a></li><li><a href="#"><i class="fa fa-linkedin"></i></a></li></ul>');
	            	product_d_right.append(wishlistDiv);

	            	// Thêm product_d_right và các phần tử khác vào mảng
	            	elementsToAppend.push(product_d_right);
	            	elementsToAppend.push(boxQuantityDiv);
	            	elementsToAppend.push(stockDiv);
	            	elementsToAppend.push(wishlistDiv);

	            	// Sử dụng append một lần duy nhất để thêm tất cả các phần tử vào .signle
	            	$('.signle').append(elementsToAppend);
	            	  
	  	 		  // Lấy phần tử ô nhập liệu số lượng
	  	 				var quantityInput = $('#quantity-single-product');

	  	 				// Xử lý sự kiện khi người dùng thay đổi giá trị trong ô nhập liệu
	  	 				quantityInput.on('input', function() {
	  	 					// Lấy giá trị số lượng từ ô nhập liệu
	  	 					var currentValue = parseInt($(this).val());

	  	 					// Kiểm tra giá trị số lượng để đảm bảo nó không nhỏ hơn 1
	  	 					if (currentValue < 1) {
	  	 						currentValue = 1;
	  	 					}

	  	 					// Cập nhật giá trị số lượng trong ô nhập liệu
	  	 					$(this).val(currentValue);
	  	 				});

	  	 				// Xử lý sự kiện khi nhấn nút "plus"
	  	 				$('.plus').on('click', function() {
	  	 					var currentValue = parseInt(quantityInput.val());
	  	 					// Tăng giá trị số lượng lên 1
	  	 					if(currentValue < quantitySelect){
	  	 						quantityInput.val(currentValue + 1);
	  	 						currentValue = quantitySelect;
	  	 					}
	  	 					
	  	 				});

	  	 				// Xử lý sự kiện khi nhấn nút "minus"
	  	 				$('.minus').on('click', function() {
	  	 					var currentValue = parseInt(quantityInput.val());
	  	 					// Giảm giá trị số lượng xuống 1, nhưng không cho phép nhỏ hơn 1
	  	 					quantityInput.val(Math.max(currentValue - 1, 1));
	  	 				});

	  	 		        quantityInput.on('input', function() {
	  	 		            var enteredValue = parseInt($(this).val(), 10); 
	  	 		            if (enteredValue > quantitySelect) {
	  	 		            	quantityInput.val(quantitySelect);
	  	 		            }
	  	 		        });
	  	 				
	  	 		     $('.size-button').on('click', function () {
			 	            var sizeId = $(this).val();
			 	            var productId = $('.productId').text();
			 	            $('.error-text.text-danger').text("");
			 	            sizeOptionsState = saveSizeOptionsState();

			 	            $.ajax({
			 	                type: 'GET',
			 	                url: '/variant/getVariant',
			 	                data: {
			 	                    productId: productId,
			 	                    sizeId: sizeId
			 	                },
			 	                success: function (response) {
			 	                    $('.sidebar_widget.color').remove();
			 	                    createRadioList(response, 'color', $('.product_d_right'), 'color:', '');
			 	                    restoreColorOptionsState(colorOptionsState);

			 	                    
			 	                },
			 	                error: function (error) {
			 	                    console.error(error);
			 	                }
			 	            });
			 	        }); 

			 	        $('.color-button').on('click', function () {
			 	            var colorId = $(this).val();
			 	            var productId = $('.productId').text();
			 	            $('.error-text.text-danger').text("");
			 	            colorOptionsState = saveColorOptionsState();

			 	            $.ajax({
			 	                type: 'GET',
			 	                url: '/variant/getVariant',
			 	                data: {
			 	                    productId: productId,
			 	                    colorId: colorId
			 	                },
			 	                success: function (response) {
			 	                    $('.product_d_size').remove();
			 	                    var newSizeList = $('<div>'); 
			 	                    createRadioList(response, 'size', newSizeList, 'size:', 'modal_size');
			 	                    $('.sidebar_widget').before(newSizeList);
			 	                },
			 	                error: function (error) {
			 	                    console.error(error);
			 	                }
			 	            });
			 	        });

	            },
	            error: function() {
	                // Handle errors here
	            }
	        });
	        
    	}
	     // Hàm để lấy giá trị của tham số từ URL
	        function getParameterByName(name, url) {
	            if (!url) url = window.location.href;
	            name = name.replace(/[\[\]]/g, '\\$&');
	            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
	                results = regex.exec(url);
	            if (!results) return null;
	            if (!results[2]) return '';
	            return decodeURIComponent(results[2].replace(/\+/g, ' '));
	        }
	         
	         function initSlider() {
	             if ($('.product_slider').length) {
	                 var slider1 = $('.product_slider');

	                 slider1.owlCarousel({
	                     loop: false,
	                     dots: false,
	                     nav: false,
	                     responsive: {
	                         0: { items: 1 },
	                         480: { items: 2 },
	                         768: { items: 3 },
	                     }
	                 });

	                 // Các phần xử lý sự kiện nhấp chuột tương tự vẫn được giữ nguyên
	                 if ($('.product_slider_nav_left').length) {
	                     $('.product_slider_nav_left').on('click', function () {
	                         slider1.trigger('prev.owl.carousel');
	                     });
	                 }

	                 if ($('.product_slider_nav_right').length) {
	                     $('.product_slider_nav_right').on('click', function () {
	                         slider1.trigger('next.owl.carousel');
	                     });
	                 }
	             }
	         }
	         
	 	       
	 	        
	 	        $(document).on('change', '.modal_size input[type="radio"], .widget_color input[type="radio"]', function () {
	 	        	if (isSizeAndColorSelected()) {
	                     callAdditionalAjax();
	                 }
	 	        });
	 	       var isSizeSelected = false;
	 	       var isColorSelected = false;
	 	        function isSizeAndColorSelected() {
	 	        	  
	 	             isSizeSelected = $('.modal_size input[type="radio"]:checked').length > 0;
	 	             isColorSelected = $('.widget_color input[type="radio"]:checked').length > 0;

	 	            return isSizeSelected && isColorSelected;
	 	        }

	 	        var globalVariantId;
	 	        var quantitySelect
	 	        function callAdditionalAjax() {
	 	            if (!isSizeAndColorSelected()) {
	 	                alert("Please select size and color before adding to cart.");
	 	                return;
	 	            }

	 	            var productId = $('.productId').text();
	 	            var sizeId = $('.modal_size input[type="radio"]:checked').val();
	 	            var colorId = $('.widget_color input[type="radio"]:checked').val();

	 	            $.ajax({
	 	                type: 'GET',
	 	                url: '/variant/getVariant',
	 	                data: { 
	 	                    productId: productId,
	 	                    sizeId: sizeId,
	 	                    colorId: colorId
	 	                },
	 	                success: function (response) {
	 	                    if (response.length > 0) {
	 	                        var firstVariant = response[0];
	 	                        var currentPrice = firstVariant.currentPrice;
	 	                        quantitySelect = firstVariant.quantity;
	 	                        globalVariantId = firstVariant.id;

	 	                        var formattedPrice = firstVariant.price ? firstVariant.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) : '';

	 	                        if (currentPrice != null) {
	 	                            var formattedCurentPrice = currentPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

	 	                            $('.content_price span').text(formattedCurentPrice);
	 	                            $('.content_price span.old-price').text(formattedPrice);

	 	                        } else {
	 	                            $('.content_price span').text(formattedPrice);
	 	                        }

	 	                        // Cập nhật giá trị quantity
	 	                        var quantityText = quantitySelect + ' items';
	 	                        $('.product_stock p').text(quantityText);

	 	                        // Cập nhật giá trị của ô input
	 	                        var quantityInput = $('#quantity-single-product');
	 	                        var enteredValue = parseInt(quantityInput.val(), 10);
	 	                        if (enteredValue > quantitySelect) {
	 	                            quantityInput.val(quantitySelect);
	 	                        }
	 	                    }
	 	                },
	 	                error: function (error) {
	 	                    console.error(error);
	 	                }
	 	            });
	 	        }




     	 //////////////////////////////////////////////
     	 	        function saveColorOptionsState() {
     	 	            var optionsState = [];
     	 	            $('.widget_color input[type="radio"]').each(function () {
     	 	                optionsState.push({
     	 	                    id: $(this).attr('id'),
     	 	                    checked: $(this).prop('checked')
     	 	                });
     	 	            });
     	 	            return optionsState;
     	 	        }

     	 	        function restoreColorOptionsState(optionsState) {
     	 	            optionsState.forEach(function (option) {
     	 	                $('#' + option.id).prop('checked', option.checked);
     	 	            });
     	 	        }

     	 	        function saveSizeOptionsState() {
     	 	            var optionsState = [];
     	 	            $('.size-widget input[type="radio"]').each(function () {
     	 	                optionsState.push({
     	 	                    id: $(this).attr('id'),
     	 	                    checked: $(this).prop('checked')
     	 	                });
     	 	            });
     	 	            return optionsState;
     	 	        }

     	 	        function restoreSizeOptionsState(optionsState) {
     	 	            optionsState.forEach(function (option) {
     	 	                $('#' + option.id).prop('checked', option.checked);
     	 	            });
     	 	        }
     	 	        
     	 	        ////////////////
     	 	       

     	 	        
     	 	        var quantity;
     	 			var csrfToken;
     	 		    function addToCartInSingleProduct(event) {
     					 var quantity = document.getElementById("quantity-single-product").value;
     					  csrfToken = Cookies.get('XSRF-TOKEN');
     					  
     					  // Kiểm tra xem token có tồn tại hay không
     					  if (typeof globalVariantId === 'undefined' || globalVariantId === null) {
     					        $('.error-text.text-danger').text("Please select size and color before adding to cart.");
     					        return;
     					   }
     					  $('.error-text.text-danger').text("");
     					    // Tạo đối tượng dữ liệu để gửi qua Ajax
     					    var data = {
     					      variantId: globalVariantId,
     					      quantity : quantity
     					    }
     					    // Gửi Ajax request
     					    $.ajax({
     					      url: '/cart/save',
     					      type: 'POST',
     					      contentType: "application/json",
     					      data: JSON.stringify(data),
     					      headers: {
     					        'X-XSRF-TOKEN': csrfToken
     					      },
     					      success: function(response,textStatus, jqXHR) {
     					    	 var contentType = jqXHR.getResponseHeader("Content-Type");
     						    if (contentType.includes("text/html")) {
     						    	Swal.fire({
     						    		  icon: 'error',
     						    		  title: 'Error!',
     						    		  text: 'Please log in',
     						    		  showCancelButton: true,
     						    		  confirmButtonText: 'Login',
     						    		  cancelButtonText: 'Cancel',
     						    		}).then((result) => {
     						    		  if (result.isConfirmed) {
     						    		    window.location.href = '/login'; 
     						    		  }
     						    		});

     							    } else{
     							    	toastr.success(response);
     								}
     					      },
     					      error: function(xhr, status, error) {
     						       alert("The system has errors!");
     					      }
     					    });
     	 				} 
		</script>
	</div>

</body>
</html>