<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/home.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content">

		<section class="row">
			<div class="container-fluid">
				<div class="card">
					<div class="card-header">
						<h2>LIST OF FeedBack</h2>
					</div>

					<div class="card-body">
						<div class="row mt-2 mb-2">
							<div class="col">
								<form action="" id="searchFeedback">
									<div class="form-inline float-right">
										<label for="searchFeedbackName">Search by feedback
											name:</label> <input type="text" class="form-control ml-2"
											name="feedbackName" id="searchFeedbackName"
											placeholder="Seacrh Feedback">
										<button class="btn btn-outline-info ml-2" type="button"
											onclick="searchFeedback()">
											<i class="fa fa-search"></i> Search
										</button>
										<button class="btn btn-outline-secondary ml-2" type="button"
											onclick="getAllFeedbacks()">
											<i class="fa fa-list"></i> All feedbacks
										</button>
									</div>
								</form>

							</div>
						</div>
						<table id="feedbackTable" class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Full Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Create Date</th>
									<th colspan="2">Action</th>
								</tr>
							</thead>
							<tbody>
								<!-- Dữ liệu categories sẽ được thêm vào đây bằng Ajax -->
							</tbody>
						</table>

						<!-- modal edit category -->
						<div class="modal fade" id="editFeedbackModal" tabindex="-1"
							role="dialog" aria-labelledby="editFeedbackModalLabel"
							aria-hidden="true">
							<div style="width: 500px" class="modal-dialog modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="editFeedbackModalLabel">Detail
											feedback</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<!-- Form chỉnh sửa danh mục sẽ được thêm vào đây -->
										<form id="detailFeedbackForm">
											<div class="form-group d-none">
												<label for="detailFeedbackId">ID:</label> <input type="text"
													class="form-control" id="detailFeedbackId"
													name="idFeedback" readonly>
											</div>

											<div class="form-group">

												<div style="margin-left: 20px">
													<label for="detailFeedbackName"><b>Full Name:</b></label> <label
														id="detailFeedbackName" name="feedbackName"></label>
												</div>

												<br>

												<div style="margin-left: 20px">
													<label for="detailFeedbackEmail"><b>Email:</b></label> <label
														id="detailFeedbackEmail" name="feedbackEmail"></label>
												</div>

												<br>

												<div style="margin-left: 20px">
													<label for="detailFeedbackDay"><b>Day:</b></label> <label
														id="detailFeedbackDay" name="feedbackDay"></label>
												</div>

												<br>

												<div style="margin-left: 20px">
													<label for="detailFeedbackPhone"><b>Phone:</b></label> <label
														id="detailFeedbackPhone" name="feedbackPhone"></label>
												</div>

												<br>

												<div style="margin-left: 20px">
													<label for="detailFeedbackSub"><b>Subject Name:</b></label>
													<label id="detailFeedbackSub" name="feedbackSub"></label>
												</div>

												<br>
												<div style="margin-left: 20px">
													<label for="detailFeedbackNote"><b>Note:</b></label> <label
														id="detailFeedbackNote" name="feedbackNote"></label>
												</div>

											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<!--	<button type="button" class="btn btn-primary"
											id="saveSizeChanges">Save changes</button> <-->
										</-->
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="card-footer">
						<nav class="float-right" th:id="paging"></nav>
					</div>
				</div>
			</div>
		</section>

		<script src="/adminview/js/feedback.js"></script>
	</div>
</body>

</html>