<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/home.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content">
		<style>
.error {
	color: red;
	font-size: 14px;
	font-style: italic;
	margin-top: 5px;
	display: block;
}
</style>
		<section class="container-fluid">

			<div class="card">
				<div class="card-header">
					<h2>PROFILE ACCOUNT</h2>
				</div>

				<div class="card-body">
					<div>
						<div class="col-md-6 offset-md-3">
							<!-- form card change password -->
							<div class="card">
								<div class="card-header">
									<center>
										<h3>Change Password</h3>
									</center>
								</div>
								<div class="card-body" style="font-size: 17px">
									<div class="form" role="form">
										<input type="hidden" class="form-control" id="id"
											aria-describedby="">
										<div class="form-group">
											<label for="password" style="font-size: 16px;">Current
												Password</label>
											<div class="input-group">
												<input type="password" class="form-control"
													name="currentpassword" id="currentPassword"
													aria-describedby="" placeholder="Current Password">
												<div class="input-group-append">
													<span class="input-group-text"> <span
														id="showPassword1" class="fa fa-eye"
														onclick="togglePasswsordVisibility1()"></span>
													</span>
												</div>

											</div>
											<span id="currentPassword-error" class="text-danger error"></span>



										</div>
										<div class="form-group">
											<label for="newpassswor" style="font-size: 16px;">New
												Password</label>
											<div class="input-group">
												
												<input type="password" class="form-control"
													name="newpassword" id="newPassword"
													aria-describedby="" placeholder="New Password">
												<div class="input-group-append">
													<span class="input-group-text"> <span
														id="showPassword2" class="fa fa-eye"
														onclick="togglePasswsordVisibility2()"></span>
													</span>
												</div>
											</div>
											<span id="newPassword-error" class="text-danger error"></span>
										</div>
										<div class="form-group">
											<label for="fullname" style="font-size: 16px;">Cofirm
												Password</label>
											<div class="input-group">
												
												<input type="password" class="form-control"
													name="cofirm" id="confirmNewPassword"
													aria-describedby="" placeholder="Cofirm Password">
												<div class="input-group-append">
													<span class="input-group-text"> <span
														id="showPassword3" class="fa fa-eye"
														onclick="togglePasswsordVisibility3()"></span>
													</span>
												</div>
											</div>
											<span id="confirmNewPassword-error" class="text-danger error"></span>
										</div>
										<div class="form-group">
											<button type="submit"
												class="btn btn-success btn-lg float-right"
												style="font-size: 16px" onclick="checkChangePassword()">Save</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /form card change password -->
						</div>
					</div>

				</div>


			</div>
		</section>
		<script src="/adminview/js/size.js"></script>
		<script>

		function togglePasswsordVisibility1() {
		    const passwordInput1 = document.getElementById('currentPassword');
		    const showPasswordButton = document.getElementById('showPassword1');
		  
		    if (passwordInput1.type === 'password') {
		      passwordInput1.type = 'text';
		      showPasswordButton.classList.remove('fa-eye');
		      showPasswordButton.classList.add('fa-eye-slash');
		    } else {
		      passwordInput1.type = 'password';
		      showPasswordButton.classList.remove('fa-eye-slash');
		      showPasswordButton.classList.add('fa-eye');
		    }
		  } 
		  
		function togglePasswsordVisibility2() {
		    const passwordInput1 = document.getElementById('newPassword');
		    const showPasswordButton = document.getElementById('showPassword2');
		  
		    if (passwordInput1.type === 'password') {
		      passwordInput1.type = 'text';
		      showPasswordButton.classList.remove('fa-eye');
		      showPasswordButton.classList.add('fa-eye-slash');
		    } else {
		      passwordInput1.type = 'password';
		      showPasswordButton.classList.remove('fa-eye-slash');
		      showPasswordButton.classList.add('fa-eye');
		    }
		  }

		  
		  
		  function togglePasswsordVisibility3() {
		    const passwordInput2 = document.getElementById('confirmNewPassword');
		    const showPasswordButton = document.getElementById('showPassword3');
		  
		    if (passwordInput2.type === 'password') {
		      passwordInput2.type = 'text';
		      showPasswordButton.classList.remove('fa-eye');
		      showPasswordButton.classList.add('fa-eye-slash');
		    } else {
		      passwordInput2.type = 'password';
		      showPasswordButton.classList.remove('fa-eye-slash');
		      showPasswordButton.classList.add('fa-eye');
		    }
		  }




		  var csrfToken;
		  var inputList = ['currentPassword','newPassword','confirmNewPassword'];
			
			inputList.forEach(function(inputName) {
				
			  var input = document.getElementById(inputName);
			  var error = document.getElementById(inputName + '-error');
			  input.addEventListener("focus", function() {
				 error.textContent = '';
			  });
			});
				var email = localStorage.getItem('email');
					function checkChangePassword() {
						
						csrfToken = Cookies.get('XSRF-TOKEN');
						var currentPassword = document.getElementById("currentPassword").value.trim();
					    var newPassword = document.getElementById("newPassword").value.trim();
					    var confirmNewPassword = document.getElementById('confirmNewPassword').value.trim();
					    
					    var formData = new FormData();
					    formData.append('currentPassword', currentPassword);
					    formData.append('newPassword', newPassword);
					    formData.append('confirmNewPassword', confirmNewPassword);
					    formData.append('email', email);
					    
					    $.ajax({
					        url: "/changepassword/checkChangePass",
					        type: "PUT",
					        contentType: false,
					        processData: false,
					        data: formData,
					        dataType: 'json',
					         
					        

					        headers: {
					            'X-XSRF-TOKEN': csrfToken
					        },

					        success: function (data) {
					        	 $(".error").text("");
					        	toastr.success(data.message);

					        	// Xóa nội dung của form
				                document.getElementById("currentPassword").value = "";
				                document.getElementById("newPassword").value = "";
				                document.getElementById('confirmNewPassword').value = "";
					        },
					           
					        error: function(jqXHR, textStatus, errorMessage) {
					        	if (jqXHR.status === 400) {
					                var errors = jqXHR.responseJSON;

					                // Xử lý lỗi từ phản hồi JSON
					                if (errors.hasOwnProperty("bindingErrors")) {
					                    var bindingErrors = errors["bindingErrors"];

					                    for (var i = 0; i < bindingErrors.length; i++) {
					                        var error = bindingErrors[i];
					                        $("#" + error.field + "-error").text(error.defaultMessage);
					                    }
					                }
					                if (errors.hasOwnProperty("message") && errors.message === "Current password is incorrect.") {
					                    $("#currentPassword-error").text(errors.message);
					                    return;
					                }
					                if (errors.hasOwnProperty("message")) {
					                    $("#confirmNewPassword-error").text(errors.message);
					                }
					            } else {
					                alert("Sorry! The system has errors!");
					            }
					        }
					    });
				}
    </script>
	</div>
</body>

</html>