<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/home.html}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content">
		<section class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h2>LIST OF ACCOUNT</h2>
				</div>
				<div class="card-body">
					<table id="accountTable" class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Full name</th>
								<th>Address</th>
								<th>Email</th>
								<th>Phone</th>
								<th>CreateAt</th>
								<th>UpdateAt</th>
								<th>Active</th>
								<th>Role</th>

							</tr>
						<tbody>
							<!-- Dữ liệu categories sẽ được thêm vào đây bằng Ajax -->
						</tbody>
						</thead>
					</table>

					<!-- modal edit category -->
				</div>
				<div class="card-footer">
					<nav class="float-right" th:id="paging"></nav>
				</div>
			</div>
		</section>
		<script src="/adminview/js/account.js"></script>

	</div>
</body>

</html>