<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/home.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content">
		<section class="container-fluid">

			<div class="card">
				<div class="card-header">
					<h2>PROFILE ACCOUNT</h2>
				</div>

				<div class="card-body">
					<div>
								<div class="card">
									<div class="card-header">
										<center>
											<h3>Account Details</h3>
										</center>
									</div>
									<div class="card-body" style="font-size: 17px">
										<div class="row">
											<div class="col">
												<input type="hidden" class="form-control" id="id"
													aria-describedby="" th:field="${user.id}">
												
												<div class="form-group">
													<label for="fullname" style="font-size: 16px;">FullName</label>
													<input type="text" class="form-control" name="fullname"
														id="fullname" aria-describedby="" placeholder="Fullname"
														th:field="${user.fullName}"> <span
														id="fullname-error" class="text-danger error"></span>
												</div>
												<div class="form-group">
													<label for="email" style="font-size: 16px;">Email</label> <input
														type="email" class="form-control" name="email" id="email"
														aria-describedby="" placeholder="Email"
														th:field="${user.email}" readonly> <span
														id="email-error" class="text-danger error"></span>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label for="fullname" style="font-size: 16px;">Address</label>
													<input type="text" class="form-control" name="address"
														id="address" aria-describedby="" placeholder="Address"
														th:field="${user.address}"> <span
														id="address-error" class="text-danger error"></span>
												</div>
												<div class="form-group">
													<label for="number" style="font-size: 16px;">Phone</label>
													<input type="tel" class="form-control" name="phone"
														id="phone" placeholder="Phone" th:field="${user.phone}" 
														> <span id="phone-error" class="text-danger error"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer text-muted">
										<button type="submit" class="btn btn-success"
											style="font-size: 16px" onclick="editProfile()">SAVE</button>
									</div>
								</div>
							</div>

				</div>

				
			</div>
		</section>
		<script src="/adminview/js/size.js"></script>
		<script>
		var csrfToken;
		function editProfile() {
			var id = $("#id").val();
		    var fullname = $("#fullname").val();
		    var address = $("#address").val();
		    var phone = $("#phone").val();


		    csrfToken = Cookies.get('XSRF-TOKEN');

		    $.ajax({
		        type: 'put', 
		        url: '/adminprofile/editAccount',
		        data:{
		            id: id,
		            fullname: fullname,
		            address: address,
		            phone: phone
		        },
		        headers: {
		            'X-XSRF-TOKEN': csrfToken
		        },
		        success: function (data) {
		        	 $(".error").text("");
		        	toastr.success(data);
		        },
		        error: function (jqXHR, textStatus, errorMessage) {
		            if (jqXHR.status === 400) {
		                var errors = jqXHR.responseJSON;

		                // Xử lý lỗi từ phản hồi JSON
		                if (errors.hasOwnProperty("bindingErrors")) {
		                    var bindingErrors = errors["bindingErrors"];
		                    for (var i = 0; i < bindingErrors.length; i++) {
		                        var error = bindingErrors[i];
		                        $("#" + error.field + "-error").text(error.defaultMessage);
		                    }
		                }
		                if (errors.hasOwnProperty("phone")) {
	                        var phoneError = errors["phone"];
	                        $("#phone-error").text(phoneError);
	                    }
		            } else {
		                alert("Sorry! The system has errors!");
		            }
		        }
		    });
		}

		
		var inputList = ['fullname', 'email', 'address', 'phone'];

		inputList.forEach(function (inputName) {
		    var input = document.getElementById(inputName);
		    var error = document.getElementById(inputName + '-error');

		    if (input) {
		        input.addEventListener("focus", function () {
		            error.textContent = '';
		        });
		    } else {
		        console.error("Không tìm thấy phần tử với ID '" + inputName + "' trong trang.");
		    }
		});

    </script>
	</div>
</body>

</html>